<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<p:dialog widgetVar="ProvDlg" id="ProvDlg" modal="true" header="Proveedores del producto " hideEffect="clip" showEffect="Bounce" resizable="false">
		<p:messages id="proveedores" autoUpdate="true" />
		<h:form id="ProvForm">
			<p:dataTable value="#{BeanProducto.prodsel.proveedores}" var="prov" id="TblProvs" paginator="true" paginatorPosition="top" rows="5" rowsPerPageTemplate="3,5,8,10,15" reflow="true">
				<p:column headerText="Raz. Social">
					<p:outputLabel value="#{prov.razonSocial}" />
				</p:column>
				<p:column headerText="Ruc">
					<p:outputLabel value="#{prov.ruc}" />
				</p:column>
				<p:column headerText="Raz. Social">
					<p:outputLabel value="#{prov.razonSocial}" />
				</p:column>
				<p:column headerText="Ciudad">
					<p:outputLabel value="#{prov.ciudad}" />
				</p:column>
				<p:column headerText="Direccion">
					<p:outputLabel value="#{prov.tblInfoContacto.direccion}" />
				</p:column>
				<p:column headerText="Telefono">
					<p:outputLabel value="#{prov.tblInfoContacto.telefono}" />
				</p:column>
				<p:column headerText="E-Mail">
					<p:outputLabel value="#{prov.tblInfoContacto.email}" />
				</p:column>
			</p:dataTable>
			<p:panel header="Agregar nuevo proveedor al producto">
				<p:commandButton value="dale" actionListener="#{BeanProducto.ListarProveedoresFiltro()}" />
				<p:dataTable value="#{BeanProducto.asd}" var="prove" id="tablapro" paginatorPosition="top" rows="8" reflow="true">
					<f:facet name="header">
															       Lista de proveedor
															
					</f:facet>
					<p:column headerText="Ruc" filterBy="#{prove.ruc}">
						<p:outputLabel value="#{prove.ruc}" />
					</p:column>
					<p:column headerText="Razon Social">
						<p:outputLabel value="#{prove.razonSocial}" />
					</p:column>
					<p:column headerText="Agregar">
						<p:commandButton value="Destroy the World" action="#{BeanProducto.ListarProveedoresFiltro}" update="ProvForm:tablapro">
							<p:confirm header="Confirmation" message="Are you sure?" icon="pi pi-exclamation-triangle" />
						</p:commandButton>
						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
							<p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
							<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
						</p:confirmDialog>
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>
	</p:dialog>
</ui:composition>
</html>