<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<p:dialog widgetVar="dialogoRegisCargo" header="Registrar Cargo" modal="true" hideEffect="clip" showEffect="Bounce"  resizable="false">
		<h:form id="caaa">
			<p:messages autoUpdate="true" />
			<p:panelGrid columns="2">
			<p:outputLabel for="a" value="cargo:" />
			<p:inputText id="a" value="#{beanCargo.carg.descripcion}" onkeyup="$(this).val($(this).val().replace(/[^a-zA-Z]/g,''));"  />
			</p:panelGrid>
			<p:commandButton value="Registrar" actionListener="#{beanCargo.registrar()}" class="btn btn-primary" type="submit" update="@form" />
		</h:form>
	</p:dialog>
</ui:composition>
</html>