* {
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wrap{
	background-size:cover;
	color:#5499C7;
	font-size: 16px;
}

.wrap {
	width: 90%;
	max-width: 1000px;
	/*margin:auto;*/
	position: absolute;
	left: 50%;
    top: 35%;
	right: 0;
	right: 0;
	bottom: 0;
	margin: auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.widget {
	width: 70%;
	margin: 25px;;
	/*margin:32px; */
}
.widget p {
	display: inline-block;
	line-height: 1em;
}

.fecha {
	font-family: Oswald, Arial;
	text-align: center;
	font-size:19px;
	margin-bottom: 0.3125rem;
	/*margin-bottom: 5px;*/
	background: transparent;
	padding: 5px;
	width: 100%;
}
.reloj {
	font-family: Oswald, Arial;
	width: 100%;
	padding: 5px;
	font-size: 18px;;
	text-align: center;
	background: transparent;
}
.reloj .caja-segundos {
	display: inline;
}

.reloj .segundos,
.reloj .ampm {
	font-size: 16px;
	display:inline;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrap{
	background-size:cover;
	color:#5499C7;
	font-size: 16px;
}

.wrap {
	width: 90%;
	max-width: 1000px;
	/*margin:auto;*/
}

.widget {
	width: 70%;
	margin: 25px;;
	/*margin:32px; */
}
.widget p {
	display: inline-block;
	line-height: 1em;
}

.fecha {
	font-family: Oswald, Arial;
	text-align: center;
	font-size:19px;
	margin-bottom: 0.3125rem;
	/*margin-bottom: 5px;*/
	background: transparent;
	padding: 5px;
	width: 100%;
}
.reloj {
	font-family: Oswald, Arial;
	width: 100%;
	padding: 5px;
	font-size: 19px;;
	text-align: center;
	background: transparent;
}
.reloj .caja-segundos {
	display: inline;
}

.reloj .segundos,
.reloj .ampm {
	font-size: 16px;
	display:inline;
}

/* Small devices (portrait tablets and large phones, 480px and up) */
@media only screen and (min-width: 480px) {

.wrap{
	background-size:cover;
	color:#5499C7;
	font-size: 16px;
}

.wrap {
	width: 90%;
	max-width: 1000px;
	/*margin:auto;*/
}

.widget {
	width: 70%;
	margin: 25px;;
	/*margin:32px; */
}
.widget p {
	display: inline-block;
	line-height: 1em;
}

.fecha {
	font-family: Oswald, Arial;
	text-align: center;
	font-size:19px;
	margin-bottom: 0.3125rem;
	/*margin-bottom: 5px;*/
	background: transparent;
	padding: 5px;
	width: 100%;
}
.reloj {
	font-family: Oswald, Arial;
	width: 100%;
	padding: 5px;
	font-size: 18px;;
	text-align: center;
	background: transparent;
}
.reloj .caja-segundos {
	display: inline;
}

.reloj .segundos,
.reloj .ampm {
	font-size: 16px;
	display:inline;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrap{
	background-size:cover;
	color:#5499C7;
	font-size: 16px;
}

.wrap {
	width: 90%;
	max-width: 1000px;
	/*margin:auto;*/
}

.widget {
	width: 70%;
	margin: 25px;;
	/*margin:32px; */
}
.widget p {
	display: inline-block;
	line-height: 1em;
}

.fecha {
	font-family: Oswald, Arial;
	text-align: center;
	font-size:19px;
	margin-bottom: 0.3125rem;
	/*margin-bottom: 5px;*/
	background: transparent;
	padding: 5px;
	width: 100%;
}
.reloj {
	font-family: Oswald, Arial;
	width: 100%;
	padding: 5px;
	font-size: 19px;;
	text-align: center;
	background: transparent;
}
.reloj .caja-segundos {
	display: inline;
}

.reloj .segundos,
.reloj .ampm {
	font-size: 16px;
	display:inline;
}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.wrap{
	background-size:cover;
	color:#5499C7;
	font-size: 16px;
}

.wrap {
	width: 90%;
	max-width: 1000px;
	/*margin:auto;*/
}

.widget {
	width: 70%;
	margin: 25px;;
	/*margin:32px; */
}
.widget p {
	display: inline-block;
	line-height: 1em;
}

.fecha {
	font-family: Oswald, Arial;
	text-align: center;
	font-size:19px;
	margin-bottom: 0.3125rem;
	/*margin-bottom: 5px;*/
	background: transparent;
	padding: 5px;
	width: 100%;
}
.reloj {
	font-family: Oswald, Arial;
	width: 100%;
	padding: 5px;
	font-size: 18px;;
	text-align: center;
	background: transparent;
}
.reloj .caja-segundos {
	display: inline;
}

.reloj .segundos,
.reloj .ampm {
	font-size: 16px;
	display:inline;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrap{
	background-size:cover;
	color:#5499C7;
	font-size: 16px;
}

.wrap {
	width: 90%;
	max-width: 1000px;
	/*margin:auto;*/
}

.widget {
	width: 70%;
	margin: 25px;;
	/*margin:32px; */
}
.widget p {
	display: inline-block;
	line-height: 1em;
}

.fecha {
	font-family: Oswald, Arial;
	text-align: center;
	font-size:19px;
	margin-bottom: 0.3125rem;
	/*margin-bottom: 5px;*/
	background: transparent;
	padding: 5px;
	width: 100%;
}
.reloj {
	font-family: Oswald, Arial;
	width: 100%;
	padding: 5px;
	font-size: 19px;;
	text-align: center;
	background: transparent;
}
.reloj .caja-segundos {
	display: inline;
}

.reloj .segundos,
.reloj .ampm {
	font-size: 16px;
	display:inline;
}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.wrap{
	background-size:cover;
	color:#5499C7;
	font-size: 16px;
}

.wrap {
	width: 90%;
	max-width: 1000px;
	/*margin:auto;*/
}

.widget {
	width: 70%;
	margin: 25px;;
	/*margin:32px; */
}
.widget p {
	display: inline-block;
	line-height: 1em;
}

.fecha {
	font-family: Oswald, Arial;
	text-align: center;
	font-size:19px;
	margin-bottom: 0.3125rem;
	/*margin-bottom: 5px;*/
	background: transparent;
	padding: 5px;
	width: 100%;
}
.reloj {
	font-family: Oswald, Arial;
	width: 100%;
	padding: 5px;
	font-size: 18px;;
	text-align: center;
	background: transparent;
}
.reloj .caja-segundos {
	display: inline;
}

.reloj .segundos,
.reloj .ampm {
	font-size: 16px;
	display:inline;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrap{
	background-size:cover;
	color:#032B45;
	font-size: 16px;
}

.wrap {
	width: 90%;
	max-width: 1000px;
	/*margin:auto;*/
}

.widget {
	width: 70%;
	margin: 25px;;
	/*margin:32px; */
}
.widget p {
	display: inline-block;
	line-height: 1em;
}

.fecha {
	font-family: Oswald, Arial;
	text-align: center;
	font-size:20px;
	margin-bottom: 0.3125rem;
	/*margin-bottom: 5px;*/
	background: transparent;
	padding: 5px;
	width: 100%;
}
.reloj {
	font-family: Oswald, Arial;
	width: 100%;
	padding: 5px;
	font-size: 20px;;
	text-align: center;
	background: transparent;
}
.reloj .caja-segundos {
	display: inline;
}

.reloj .segundos,
.reloj .ampm {
	font-size: 20px;
	display:inline;
}
}
