<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      template="/plantilla/Plantilla.xhtml">
<ui:define name="contenido_A">

<div>
		
	<div >
	<div class="box box-primary">
	<h:form	>
	
		<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
			
			 <div class="box-header with-border">
             	 <h3 class="box-title">INICIO</h3>
            </div>
			
			<div class="box-body" align="center">
            <div >
              <div >
               
                <div class="form-group">
					<div class="col-lg-3 col-xs-6" style=" width:510px;">
			          <!-- small box -->
			          <div class="small-box bg-teal" >
			          
			            <div class="inner">
			            	<h3 style="font-size: 40px">Articulos</h3> 
			            	<p>Consulte sus Articulos</p>
			            </div>
			             <div class="icon" >
				              <i class="fa fa-line-chart"></i>
				            </div>
			           
			           <a href="enProceso.xhtml" class="small-box-footer">
			              Articulos con Stock Mínimo <i class="fa  fa-sign-out"></i>
			            </a>
			          </div>
			      </div>
			    
			        
			        <div class="col-lg-3 col-xs-6" style=" width:510px;">
			          <!-- small box -->
			          <div class="small-box bg-aqua" >
			          
			            <div class="inner" >
			            	<h3 style="font-size: 40px">Operaciones</h3>
			            	<p>Consulte Operaciones</p>    	
			            </div>
			             <div class="icon" >
				              <i class="fa fa-fax"></i>
				            </div>
			           
			           <a href="enProceso.xhtml" class="small-box-footer">
			              Más Información<i class="fa  fa-sign-out"></i>
			            </a>
			          </div>
			        </div>
			        
			        
			        
			        
			        
			        <div class="col-lg-3 col-xs-6" align="center" style=" width:1020px;">
			          <!-- small box -->
			          <div class="small-box bg-yellow" align="center">
			          
			            <div class="inner" >
			            	<br />
			            	<h3 style="font-size: 40px">Consultas y Reportes</h3>       	
			            </div>
			             <div class="icon" >
				              <i class="fa fa-file-pdf-o"></i>
				            </div>
			           
			           <a href="consultas_reporte.xhtml" class="small-box-footer">
			              Ir a Consultas y Reportes <i class="fa  fa-sign-out"></i>
			            </a>
			          </div>
			        </div>
			        
			        
			    </div>
			
				</div>
				</div>
				</div>
				
			
			
	</h:form>
	</div>
	</div>

</div>

</ui:define>

</ui:composition>