<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      template="/plantilla/Plantilla.xhtml">
      
<ui:define name="contenido_A">

<h:form>
	<div align="center">
		<h1 style="color:red; font-family:fantasy; ; font-size:40px;"> AVISO !!!! </h1>
		<img src="../resources/imagenes/proceso.gif"/>
		<h1 style="background: red; font-family:fantasy; ; font-size:40px; padding: 5px; color: #fff">ESTA EN PROCESO DE IMPLIMENTACION ....... </h1>
		</div>
      
</h:form>
</ui:define>

</ui:composition>