<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" template="/plantilla/Plantilla.xhtml">
	<ui:define name="contenido_A">
		<div class="panel">
			<div class="panelheader">
				<span>Entradas</span>
				<p:commandButton onclick="PF('dialogoRegistrar').show()" value="Registrar" class="btn btn-primary" />
			</div>
			<div class="panelbody">
				<h:form id="salPro1">
					<p:dataTable id="tablaSal" value="#{BeanDetalleEntradaProducto.listEnt}" var="out" paginator="true" paginatorPosition="top" rows="8" widgetVar="prodtable" rowsPerPageTemplate="3,5,8,10,15" reflow="true">
						<f:facet name="header">
								       Historial de Entrada 							 
							<p:commandButton id="toggler" type="button" value="Columnas" style=" margin:15px;" />
							<p:columnToggler datasource="tablaSal" trigger="toggler" />
						</f:facet>
						<p:column headerText="Fecha">
						<p:outputLabel value="#{out.fechaEntrada}"/>
						</p:column>
						<p:column headerText="Responsable">
						<p:outputLabel value="#{out.tblEmpleado.tblpersona.nombre} #{out.tblEmpleado.tblpersona.apellidoPaterno} "/>
						</p:column>
						<p:column headerText="Detalles">
						<p:commandButton value="Ver" onclick="PF('dlgDetalle').show()" actionListener="#{BeanDetalleEntradaProducto.select(out.tblDetEntPro)}" update="tbldeta" />
						</p:column>
						
					</p:dataTable>
				</h:form>
				
				
			<p:dialog widgetVar="dlgDetalle"  id="dlgde" header="Detalles de Entrada"  modal="true" maximizable="true" hideEffect="clip" showEffect="Bounce">
		
				<p:dataTable id="tbldeta" value="#{BeanDetalleEntradaProducto.listDetEntProSelec}" var="det" scrollable="true" scrollHeight="200">
				<p:column headerText="Producto">
				<p:outputLabel value="#{det.tblProducto.nombre}"/>
				</p:column>
				<p:column headerText="Cantidad">
				<p:outputLabel value="#{det.cantidad}"/>
				</p:column>
				</p:dataTable>

			</p:dialog>
				 
				
				<ui:insert>
					<ui:include src="/paginas/dialogs/entradaproducto/registrar.xhtml" />
				</ui:insert>						
			</div>
		</div>
	</ui:define>
</ui:composition>