<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      template="/plantilla/Plantilla.xhtml">
<ui:define name="contenido_A">

<!-- CONTENEDOR -->
<div class="box box-primary">
	
	<!-- TITULO  -->
	<div class="panelheader ">
		<span>Lista de Entrada</span>
			<div align="right">
			<p:commandButton value="Listar" actionListener="#{BeanDetalleEntradaProducto.listarEntraProducto()}"
			ajax="true" update=":entPro:tablaEnt" class="btn btn-icon btn-primary"/>
			
			<p:commandButton onclick="PF('dialogoRegistrar').show();" value="Registrar" class="btn btn-icon btn-primary"/>	
		
			</div>
	</div>
	
	<!--  -->
	<div class="panelbody">

	<p:messages id="mensajes"  />
<h:form id="entPro">
	<p:dataTable value="#{BeanDetalleEntradaProducto.listaDetEntPro}" var="entrada" id="tablaEnt" paginator="true" paginatorPosition="top,bottom" rows="8" widgetVar="prodtable" rowsPerPageTemplate="3,5,8,10,15"  reflow="true" style="font-size: 12px;">

			   <f:facet name="header">
			       Lista de Entradas
			 
			        <p:commandButton id="toggler" type="button" value="Columns" style=" margin:15px;"  />
			        <p:columnToggler datasource="tablaEnt" trigger="toggler" />
			    </f:facet>
			    
			    <!-- COLUMNAS -->
			    			<p:column headerText="Categoria">
        					 	<p:outputLabel value="#{entrada.tblProducto.tblCategoria.nombre}" />
    						 </p:column>
			    
							<p:column headerText="Producto">
        					 	<p:outputLabel value="#{entrada.tblProducto.nombre}" />
    						 </p:column>
 
    						<p:column headerText="Cantidad">
        						<p:outputLabel value="#{entrada.cantidad}" />
    						</p:column>
    						
    						<p:column headerText="Precio">
        			<big><b>S/.</b></big>   <p:outputLabel value="#{entrada.tblProducto.tblDetPro.iterator().next().precio}" />
    						 </p:column>
 
   					   		<p:column headerText="Empleado">
        						<p:outputLabel value="#{entrada.tblEntPro.tblEmpleado.tblpersona.nombre} #{prove.tblEntPro.tblEmpleado.tblpersona.apellidoPaterno} #{prove.tblEntPro.tblEmpleado.tblpersona.apellidoMaterno}" />
    						</p:column>
 
    						    						
    						<p:column headerText="fecha">
				
								<p:calendar value="#{entrada.tblEntPro.fechaEntrada}" pattern="dd/MM/yyyy HH:mm:ss" locale="en"></p:calendar>
			
	     					</p:column>
	     					
	     					     					
	     					<p:column headerText="Admin">
							<p:commandLink style="text-decoration:none;"   actionListener="#{BeanDetalleEntradaProducto.seleccionarEntrPro(entrada)}" oncomplete="PF('dialogoActualizar').show();"  update="DlgUpdate">
							<span class="btnAdmin">Actualizar<i class="large material-icons">update</i></span>
							</p:commandLink>
							</p:column>
				
				</p:dataTable>
</h:form>		 

	
	</div>
	
	
	
</div>

		


<!-- DIALOGO ACTUALIZAR ///////////////////////////////////////////////////////////////////////////// -->
<p:dialog  widgetVar="dialogoRegistrar" modal="true" resizable="true" hideEffect="clip" showEffect="Bounce">
	<h:form>
	<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
	<p:messages closable="true" />
	
		<p:panel id="panel" header="Salida Producto">
		
				<h:panelGrid columns="2" cellpadding="5">
				
				<p:outputLabel for="a" value="Empleado:" />
				<p:selectOneMenu id="a" value="#{BeanDetalleEntradaProducto.emp.idEmpleado}" required="true">
                        <f:selectItem itemValue="-1" itemLabel="Selecciona Empleado" />
                        <f:selectItems value="#{BeanDetalleEntradaProducto.listaEmpleado}" var="a"/>
                </p:selectOneMenu>
                
                <p:outputLabel for="b" value="Producto:" />
				<p:selectOneMenu id="b" value="#{BeanDetalleEntradaProducto.prod.idProducto}"  required="true">
                        <f:selectItem itemValue="-1" itemLabel="Selecciona Producto" />
                        <f:selectItems value="#{BeanDetalleEntradaProducto.listaProducto}" var="b"/>
                </p:selectOneMenu>
				
				<p:outputLabel for="c" value="Cantidad:" />
				<p:inputText id="c" value="#{BeanDetalleEntradaProducto.detEntPro.cantidad}" required="true"/>
				</h:panelGrid>
				<center>
				<p:commandButton value="Agregar Producto" actionListener="#{BeanDetalleEntradaProducto.RegistrarEntrada()}"  
				icon="ui-icon-disk"  oncomplete="PF('dialogoRegistrar').hide();" update=":entPro:tablaEnt"/>
				</center>
		</p:panel>
	</h:form>
	</p:dialog>
	
	<p:dialog  widgetVar="dialogoActualizar" modal="true" id="DlgUpdate" resizable="false" hideEffect="clip" showEffect="Bounce"> 
		<h:form>
			<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
			<p:messages closable="true" />
			<p:panel id="panel" header="Actualizar Entrada Producto" >
			
			<h:panelGrid columns="2" cellpadding="5">
				
				<p:outputLabel for="ae" value="Empleado:" />
				<p:selectOneMenu id="ae" value="#{BeanDetalleEntradaProducto.emp.idEmpleado}" required="true">
                        <f:selectItem itemValue="-1" itemLabel="Selecciona Empleado" />
                        <f:selectItems value="#{BeanDetalleEntradaProducto.listaEmpleado}" var="ae"/>
                </p:selectOneMenu>
                
                <p:outputLabel for="be" value="Producto:" />
				<p:selectOneMenu id="be" value="#{BeanDetalleEntradaProducto.prod.idProducto}" required="true">
                        <f:selectItem itemValue="-1" itemLabel="Selecciona Producto" />
                        <f:selectItems value="#{BeanDetalleEntradaProducto.listaProducto}" var="be"/>
                </p:selectOneMenu>
				
				<p:outputLabel for="ce" value="Cantidad:" />
				<p:inputText id="ce" value="#{BeanDetalleEntradaProducto.detEntPro.cantidad}" rendered="true"/>
				</h:panelGrid>
			
					<center>
						<p:commandButton value="Actualizar" actionListener="#{BeanDetalleEntradaProducto.actualizar()}" update=":entPro:tablaEnt" 
						oncomplete="PF('dialogoActualizar').hide();"/>
					</center>	
						
					
			
			 </p:panel>
		</h:form>
		</p:dialog>
</ui:define>

</ui:composition>
