<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" template="/plantilla/Plantilla.xhtml">
	<ui:define name="contenido_A">
		<div class="panel">
		
			<div class="panelbody">
				<h:form id="frm">
					<p:messages id="mensajes" />
					<div align="center">
						<p style="font-size: 17px;"> 	Usuarios de sistema</p>
					</div>
					<p:dataTable value="#{BeanUsuario.allemp}" var="e" id="tp" paginator="true" paginatorPosition="top" rows="8" widgetVar="prodtable" rowsPerPageTemplate="3,5,8,10,15" reflow="true">
						<f:facet name="header">
      
 
       					 <p:commandButton id="toggler" type="button" value="Columns" class="btn btn-success btn-flat" style="border:none;"/>
							<p:columnToggler datasource="tp" trigger="toggler" />
						</f:facet>
						<p:column headerText="Nombre">
							<p:outputLabel value="#{e[0].tblpersona.nombre}" />
						</p:column>
						<p:column headerText="Apellido P.">
							<p:outputLabel value="#{e[0].tblpersona.apellidoPaterno}" />
						</p:column>
						<p:column headerText="Dni">
							<p:outputLabel value="#{e[0].tblpersona.dniPersona}" />
						</p:column>
						<p:column headerText="Fecha Contrato">
							<p:outputLabel value="#{e[0].fechaContrato}" />
						</p:column>
						<p:column headerText="Cargo">
							<p:outputLabel value="#{e[1].descripcion}" />
						</p:column>
							
							<p:column headerText="Admin">
							<p:commandLink style="text-decoration:none;border:none" rendered="#{e[0].tblUsuario==null}"  class="btn btn-info btn btn-flat btn btn-xs" actionListener="#{BeanUsuario.EmpeadoSeleccionado(e[0])}" oncomplete="PF('rprod').show();" update="reprod">
								<i class="fa fa-edit"></i> Registrar Usuario
							</p:commandLink>
								<p:commandLink style="text-decoration:none;border:none" class="btn btn-primary btn btn-flat btn btn-xs" rendered="#{e[0].tblUsuario!=null}" actionListener="#{BeanUsuario.UsuarioSeleccionado(e[0].tblUsuario)}" oncomplete="PF('rprod2').show();" update="reprod2">
								<i class="fa fa-edit"></i> Actualizar
							</p:commandLink>
							

						</p:column>
						
					</p:dataTable>
				</h:form>
			</div>
		</div>
	<!-- dialogo de registro /////////////////////////////////////////////////////////////////////////////////////////////////////-->
	<ui:insert>
		<ui:include src="/paginas/dialogs/usuario/registrar.xhtml" />
	</ui:insert>
	
	<ui:insert>
		<ui:include src="/paginas/dialogs/usuario/Actualizar.xhtml" />
	</ui:insert>
	
	</ui:define>
</ui:composition>
