<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" template="/plantilla/Plantilla.xhtml">
	<ui:define name="contenido_A">
		<div class="panel">
			<div class="panelheader">
				<span>Producto</span>
				<button class="btn btn-icon btn-primary" onclick="PF('rprod').show(); ">
					Nuevo<i style="font-size: 12px" class="Tiny material-icons">add</i>
				</button>
			</div>
			<div class="panelbody">
				<h:form id="frm">
					<p:messages id="mensajes" />
					<p:dataTable value="#{BeanProducto.prods}" var="prod" id="tp" paginator="true" paginatorPosition="top" rows="8" widgetVar="prodtable" rowsPerPageTemplate="3,5,8,10,15" reflow="true">
						<f:facet name="header">
       Lista de productos
 
        <p:commandButton id="toggler" type="button" value="Columns" style="float:right; margin:15px;" />
							<p:columnToggler datasource="tp" trigger="toggler" />
						</f:facet>
						<p:column headerText="CodigoBarra" sortBy="#{prod[0].codigoBarra}" filterBy="#{prod[0].codigoBarra}">
							<p:outputLabel value="#{prod[0].codigoBarra}" />
						</p:column>
						<p:column headerText="Nombre" sortBy="#{prod[0].nombre}" filterBy="#{prod[0].nombre}" filterMatchMode="contains">
							<p:outputLabel value="#{prod[0].nombre}" />
						</p:column>
						<p:column headerText="Marca" sortBy="#{prod[0].marca}" filterBy="#{prod[0].marca}">
							<p:outputLabel value="#{prod[0].marca}" />
						</p:column>
						<p:column headerText="Stock" sortBy="#{prod[0].stock}" filterBy="#{prod[0].stock}">
							<p:outputLabel value="#{prod[0].stock}" />
						</p:column>
						<p:column headerText="Precio" sortBy="#{prod[1].precio}" filterBy="#{prod[1].precio}">
							<p:outputLabel value="#{prod[1].precio}" />
						</p:column>
						<p:column headerText="Categoria" sortBy="#{prod[0].tblCategoria.nombre}" filterBy="#{prod[0].tblCategoria.nombre}" filterMatchMode="contains">
					
							<h:outputText value="#{prod[0].tblCategoria.nombre}" />
						</p:column>
						
						<p:column headerText="Proveedores">
							<p:commandLink style="text-decoration:none;" actionListener="#{BeanProducto.SeleccionarProveedores(prod[0].proveedores)}" oncomplete="PF('ProvvDlg').show();" update="prprdlg"  >
								<span class="btnAdmin">Ver</span>
							</p:commandLink>
							
								
						</p:column>
						
						<p:column headerText="Admin">
							<p:commandLink style="text-decoration:none;" actionListener="#{BeanProducto.SeleccionarDetalleProducto(prod[1])}" oncomplete="PF('UpdateDialog').show();" update="DlgUpdate">
								<span class="btnAdmin">Actualizar<i class="large material-icons">update</i></span>
							</p:commandLink>
							
								
						</p:column>
						
						
						
						<p:column headerText="Eliminar">
							<p:commandButton value="Eliminar" actionListener="#{BeanProducto.Eliminar(prod[0])}"/>
						</p:column>
					</p:dataTable>
				</h:form>
			</div>
		</div>
		<!-- 	dialogo de ver proveedores///////////////////////////////////////////////////////////////////////////// -->
		<ui:insert>
			<ui:include src="/paginas/dialogs/producto/proveedor.xhtml" />
		</ui:insert>
		<!-- 	dialogo de actualizacion///////////////////////////////////////////////////////////////////////////// -->
		<ui:insert>
			<ui:include src="/paginas/dialogs/producto/actualizar.xhtml" />
		</ui:insert>
		<!-- dialogo de registro /////////////////////////////////////////////////////////////////////////////////////////////////////-->
		<ui:insert>
			<ui:include src="/paginas/dialogs/producto/registrar.xhtml" />
		</ui:insert>
		
		
				<ui:insert>
			<ui:include src="/paginas/dialogs/producto/ListarProveedoresProducto.xhtml" />
		</ui:insert>
		
	</ui:define>
</ui:composition>
