<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" template="/plantilla/Plantilla.xhtml">
	<ui:define name="contenido_A">
		<div class="panel">
			<div class="panelheader" style="margin: 5px;" align="right">
				
				<button class="btn btn-icon btn-primary btn-xs btn-flat" onclick="PF('dialogoRegisCargo').show(); ">
					Nuevo Cargo <i class="fa fa-plus-square"></i>
				</button>
			</div>
			<div class="panelbody">
			
			<div align="center">
			<p style="font-size: 17px">Lista de Cargo</p>
			</div>
				<h:form id="frm">
					<p:messages id="mensajes" />
					
					<p:dataTable id="tablaEmmp" value="#{beanCargo.listacargada}" var="ca"  paginator="true" paginatorPosition="top" rows="5" widgetVar="prodtable" rowsPerPageTemplate="3,5,8,10,15" reflow="true">
						<p:column headerText="Cargo">
							<p:outputLabel value="#{ca.descripcion}" />
						</p:column>
						<p:column headerText="Administrador">
					
								<p:commandLink style="text-decoration:none; border:none;" class="btn btn-primary btn-xs btn-flat" actionListener="#{beanCargo.seleccionarCargo(ca)}" oncomplete="PF('dialogoActuCargo').show();" update="actuCargo" >
									<i class="fa fa-edit"></i> Actualizar
								</p:commandLink>
							
						</p:column>
					</p:dataTable>
				</h:form>
			</div>
		</div>

		<!-- 	dialogo de actualizacion///////////////////////////////////////////////////////////////////////////// -->
		<ui:insert>
			<ui:include src="/paginas/dialogs/cargo/actualizar.xhtml" />
		</ui:insert>
		<!-- dialogo de registro /////////////////////////////////////////////////////////////////////////////////////////////////////-->
		<ui:insert>
			<ui:include src="/paginas/dialogs/cargo/registrar.xhtml" />
		</ui:insert>
	</ui:define>
</ui:composition>
