<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" template="/plantilla/Plantilla.xhtml">
	<ui:define name="contenido_A">
		<div class="panel">
			<div class="panelheader" align="right">
				
				<button class="btn  btn-primary btn-xs btn-flat" onclick="PF('dialogoRegistrar').show();">
					Nuevo Proveedor <i class="fa fa-plus-square"></i>
				</button>
			</div>
			<div class="panelbody">
				<h:form id="formprov">
					<p:messages id="messages" />
					
					<div align="center">
					<p style="font-size: 17px">Listar Proveedor  </p>
					</div>
					<p:dataTable id="tablapro" value="#{BeanProveedor.allprov}" var="prove" paginator="true" paginatorPosition="top" rows="5" reflow="true">
						<f:facet name="header">
						       						       
						       <p:commandButton id="toggler" type="button" value="Columnas" style="border:none;" styleClass="btn btn-flat btn-success" />
						       
							<p:columnToggler datasource="tablapro" trigger="toggler" />
						</f:facet>
						
						<p:column headerText="RUC°" sortBy="#{prove.ruc}" filterBy="#{prove.ruc}">
							<p:outputLabel value="#{prove.ruc}" />
						</p:column>
						<p:column headerText="Razon Social" sortBy="#{prove.razonSocial}" filterBy="#{prove.razonSocial}">
							<p:outputLabel value="#{prove.razonSocial}" />
						</p:column>
						<p:column headerText="Ciudad" sortBy="#{prove.ciudadx}" filterBy="#{prove.ciudadx}">
							<p:outputLabel value="#{prove.ciudadx}" />
						</p:column>
						<p:column headerText="InfoContacto" >
							<p:commandLink style="border:none;text-decoration:none"  class="btn btn-xs btn-flat btn-warning" actionListener="#{BeanProveedor.SeleccionarInfoContato(prove.tblInfoContacto)}" oncomplete="PF('dlginfocontacto').show()" update="dlinfo">
								<i class="fa fa-info-circle"></i> + Información
							</p:commandLink>
						</p:column>
						
						<p:column headerText="Fecha">
							<p:calendar value="#{prove.fechaRegistro}" pattern="dd/MM/yyyy HH:mm:ss" />
						</p:column>
						<p:column headerText="Admin">
							<p:commandLink  style="border:none;text-decoration:none;" class="btn btn-primary btn-xs btn-flat" actionListener="#{BeanProveedor.seleccionarProv(prove)}" oncomplete="PF('dlgact').show();" update="dlgu">
								<i class="fa fa-edit"></i> Actualizar
							</p:commandLink>
						</p:column>
					</p:dataTable>
				</h:form>
			</div>
		</div>
	
		<p:dialog widgetVar="dlginfocontacto" id="dlinfo">
			<p:panelGrid columns="2">
				<p:outputLabel value="Celular" />
				<p:outputLabel value="#{BeanProveedor.infselcected.celular}" />
				<p:outputLabel value="Telefono" />
				<p:outputLabel value="#{BeanProveedor.infselcected.telefono}" />
				<p:outputLabel value="Direccion" />
				<p:outputLabel value="#{BeanProveedor.infselcected.direccion}" />
				<p:outputLabel value="E-Mail" />
				<p:outputLabel value="#{BeanProveedor.infselcected.email}" />
			</p:panelGrid>
		</p:dialog>

		<!-- DIALOGO ACTUALIZAR /////////////////////////////////////////////// -->
		<ui:insert>
			<ui:include src="/paginas/dialogs/proveedor/Actualizar.xhtml" />
		</ui:insert>
		<!-- DILOGO RESGISTRAR /////////////////////////////////////////////// -->
		<ui:insert>
			<ui:include src="/paginas/dialogs/proveedor/registrar.xhtml" />
		</ui:insert>
	</ui:define>
</ui:composition>