<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      template="/plantilla/Plantilla.xhtml">
      
<ui:define name="contenido_A">

<h:form>

		<div class="box box-primary ">
		
        <div class="box-header with-border">
        <center>
           <i class="fa fa-bar-chart-o"></i>
           <h3 class="box-title" style="font-size: 19px">Artículos con Stock Minimo</h3>
		</center>
        </div>
        
        <div class="box-body">
          Lista de Activos con Stock Minimo 
        </div>
        
        <!-- /.box-body -->
        <div class="box-footer">
          <div class="input-group input-group-sm" style="width: 267px; ">	
                    <h:inputText  class="form-control" placeholder="Buscar por Codigo" />
                    <span class="input-group-btn ">
                      <h:commandButton value="Buscar" class="btn btn-flat btn-primary" />
                    </span>      		
           </div>
           
           <br/>
       		<p:dataTable var="car" value="#{dtBasicView.cars}"  style="font-size: 12px;" paginator="true" rows="10" rowsPerPageTemplate="5,10,15">
						
   				<p:column headerText="N°" style="width:15px;">
        			<h:outputText value="#{car.id}" />
    		    </p:column>
 
    			<p:column headerText="Codigo">
        			<h:outputText value="#{car.year}" />
    			</p:column>
 
   				<p:column headerText="Producto">
        			<h:outputText value="#{car.brand}" />
    			</p:column>
 
    			<p:column headerText="Marca">
        			<h:outputText value="#{car.color}" />
    			</p:column>
    						
    			<p:column headerText="Modelo">
        			<h:outputText value="#{car.color}" />
    			</p:column>
    						
    			<p:column headerText="Precio ">
        			<h:outputText value="#{car.color}" />
    			</p:column>
    					
    			<p:column headerText="Stock">
        			<h:outputText value="#{car.color}" />
    			</p:column>
    			
    			<p:column headerText="Unidad de Medida">
        			<h:outputText value="#{car.color}" />
    			</p:column>
    			
    			<p:column headerText="Fecha de Adquición">
        			<h:outputText value="#{car.color}" />
    			</p:column>
    			
    			<p:column headerText="Categoria">
        			<h:outputText value="#{Proveedor}" />
    			</p:column>
    			
    			<p:column headerText="Opciones">
        			<h:outputText value="#{car.color}" />
    			</p:column>
    			
				</p:dataTable>
	
        
        
        
        
        </div>
        <!-- /.box-footer-->
      </div>
        

		
	</h:form>



</ui:define>

</ui:composition>