<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/plantilla/Plantilla.xhtml">
	<ui:define name="contenido_A">







		<div class="panel">
			<div class="panelheader" style="margin: 5px;" align="right">
				
				<button class="btn btn-icon btn-primary btn-xs btn-flat"
					onclick="PF('dialogoRegistrar').show(); ">
					Nuevo Categoria <i class="fa fa-plus-square"></i>
				</button>
			</div>
			<div class="panelbody">

		<p:messages />
				<h:form>
				<div align="center"><p style="font-size: 17px;">Lista de Categoria</p></div>
					<p:dataTable var="cat"  widgetVar="prodtable" reflow="true" value="#{BeanCategoria.listar()}"
						paginator="true" rows="5" rowsPerPageTemplate="5,8,10">

						<p:column headerText="ID">
							<h:outputText value="#{cat.idCategoria}" />
						</p:column>

						<p:column headerText="Nombre">
							<h:outputText value="#{cat.nombre}" />
						</p:column>

					</p:dataTable>
				</h:form>
			</div>
		</div>



		<!-- Dialogo Registrar Categoria -->
		<p:dialog widgetVar="dialogoRegistrar" modal="true"
			class="box box-primary" resizable="false">

			<h:form>
			

				<div class="box-header with-border" align="center">
					<h3 class="box-title">Registrar Categoría</h3>
				</div>

				<div class="box-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<h:outputLabel for="a" value="Nombre:" />
								<h:inputText id="a" value="#{BeanCategoria.cat.nombre}"
									class="form-control" required="true" style="width: 200px; " />
							</div>
						</div>
					</div>


					<!-- OJO BOTON REGISTRAR NUEVA CATEGORIA -->

					<div class="margin">
						<h:commandButton value="Registrar"
							actionListener="#{BeanCategoria.agregar()}"
							class="btn btn-primary  form-control" update=":prov:tablapro"
							oncomplete="PF('dialogoRegistrar').hide();"
							style="font-size:17px;" />
					</div>

				</div>

			</h:form>
		</p:dialog>



	</ui:define>

</ui:composition>