<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

<h:head>
   <title>Login</title>
	
		<link rel="stylesheet"  href="imagen/esti_login.css"></link>
    <link rel="icon" type="image/png" href="imagen/icon.png" />
    <meta name="viewport" content="width=device-width"></meta>
   <link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet"></link>
   <link href="https://fonts.googleapis.com/css?family=Lato:900|family=Oswald:300|Chivo:900" rel="stylesheet"></link>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"></link>
   <link rel="stylesheet" href="Inicio/carga.css"></link>
   
   <!-- PARA RELOJ -->
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta>
	<link rel="stylesheet" type="text/css" href="Reloj/reloj.css"></link>
	<meta name="viewport" content="width=device-width"></meta>
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"></link>
	
	
	<script>
		$(document).on('ready', function() {
			$('#show-hide-passwd').on('click', function(e) {
				e.preventDefault();
				var current = $(this).attr('action');
				if (current == 'hide') {
					$(this).prev().attr('type','text');
					$(this).removeClass('glyphicon-eye-open').addClass('glyphicon-eye-close').attr('action','show');
				}
				if (current == 'show') {
					$(this).prev().attr('type','password');
					$(this).removeClass('glyphicon-eye-close').addClass('glyphicon-eye-open').attr('action','hide');
				}
			})
		})
	</script>
   
</h:head>

<h:body>
<p:growl autoUpdate="true" showSummary="true" showDetail="true" life="10000"/>


	<script>
	window.onload=function()
	{
		var contenedor=document.getElementById
		('contenedor_carga');
		contenedor.style.visibility= 'hidden';
	}	

	</script>	
<form>	
<!-- PROGRES BAR RRRRRRRRRRRRRRRRRRRRRR -->
<div id="contenedor_carga">
<!-- RELOJ -->
<div align="center">
	<div class="wrap" align="center">
		<div class="widget">
			<div class="fecha">
				<p id="diaSemana" class="diaSemana">Martes</p>
				<p id="dia" class="dia">27</p>
				<p>de </p>
				<p id="mes" class="mes">Octubre</p>
				<p>del </p>
				<p id="year" class="year">2018</p>
			</div>
	
			<div class="reloj">
				<p id="horas" class="horas">11</p>
				<p>:</p>
				<p id="minutos" class="minutos">48</p>
				<p>:</p>
				<div class="caja-segundos">
					<p id="segundos" class="segundos">12</p>
					<p id="ampm" class="ampm">AM</p>
					
				</div>
			</div>
		</div>
	</div>
<script src="Reloj/reloj.js"></script>
</div>
<div>

		</div>

	<!-- BOTONES DE TUERCA -->	
		<div class="subTuerca">
			<div class="lds-css ng-scope">
			<div class="lds-gear" style="width:100%;height:100%"><div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div></div>
		
		</div>
		
		<!-- CIRCULOS DE CARGA -->	
		<div id="carga"></div>
		<div id="cargaDos"></div>
		
		<!-- IMAGEN DE TUERCA -->
		<div >
			<img src="Inicio/1.png" alt="No existe Imagen" class="loadingUno"/>
		</div>
		<!-- CUADRADO DE COLORES -->
		<div class="loadingDos">
			<div class="cssload-conveyor"><span></span><span></span><span></span><span></span><span></span>
			</div>		
		</div>
		
		<!-- TITULO DE LOADING -->
		<div class="titleLoading">
			<div class="cssload-container">
				<div class="cssload-l">L</div>
				<div class="cssload-circle"></div>
				<div class="cssload-square"></div>
				<div class="cssload-triangle"></div>
				<div class="cssload-i">I</div>
				<div class="cssload-n">N</div>
				<div class="cssload-g">G</div>
			</div>
		</div>	

</div>

<!-- LOGIN -->
<h:form>
<div class="fondo">
	<div  class="sub">
		<div class="subSub">
			<div class="A"><div class="d"><img class="imgLogin" src="Inicio/logoSesion.png"></img> </div></div>
			<div class="TB"  align="center"><p >Sistema de Control de Almacén</p></div>
			
			<div class="txt">
				<div class="input-group" style="margin: 15px">
						<span class="input-group-addon" style="border:none;"><i class="fa fa-users"></i></span>
						<p:inputText value="#{BeanUsuario.logusu.usuario}" type="text" class="form-control btn-flat" style="font-family: 'Oswald', sans-serif;border:none;" placeholder="Cuenta de usuario"/>
				</div>
				<div class="input-group" style="margin: 15px">
						<span class="input-group-addon" style="border:none;"><i class="fa fa-key"></i></span>
						<p:password id="password" type="password" class="form-control btn-flat" style="font-family: 'Oswald', sans-serif; border:none" value="#{BeanUsuario.logusu.contrasena}"  placeholder="Contraseña" />
						<h:message for="password"></h:message>
				</div>
				
				<div style="margin: 15px;">
					<h:commandButton  action="#{BeanUsuario.IniciarSession}"  value="Acceder" class="form-control btn btn-primary btn-flat" style="font-family: 'Oswald', sans-serif; "  />
				</div>
				
					<h:commandLink styleClass="smallLink" >¿Olvide mi contraseña?</h:commandLink> 
					
			</div>
		</div>
	</div>
</div>
</h:form>


<footer class="pie-pagina">
	<div class="subpagina">
	</div>
</footer>

</form>
</h:body>
</html>
