<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      template="/plantilla/Plantilla.xhtml">
<ui:define name="contenido_A">

<div style="width: 100%">

	<h:form	>
	
		<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
			
			 <div >
             	  <p style="color: #063737;font-size:5vw;">Menu de Inicio</p>
            </div>
	
	
	
				<!-- SI -->	
			
			
			<div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>C A</h3>

              <p>Consulta Articulos</p>
            </div>
            <div class="icon">
              <i class="fa fa-line-chart"></i>
            </div>
            <a onclick="PF('dlg5').show()" class="small-box-footer">+ info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
        
        
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-navy">
            <div class="inner">
              <h3>C S</h3>

              <p>Consulta Salidas</p>
            </div>
            <div class="icon">
              <i class="fa fa-fax" style="color:rgba(255, 255, 255,.1);"></i>
            </div>
            <a onclick="PF('dlg4').show()" class="small-box-footer">+ info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
        <div class="inner">
            </div>
            <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-purple">
            <div class="inner">
              <h3>C R</h3>

              <p>Consulta  Reportes</p>
            </div>
            <div class="icon">
              <i class="fa fa-file-pdf-o"></i>
            </div>
            <a href="consultas_reporte.xhtml" class="small-box-footer">+ info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
						<!-- SI -->	
			
			
			<div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>C U</h3>

              <p>Conuslta Usuario</p>
            </div>
            <div class="icon">
              <i class="fa fa-users"></i>
            </div>
            <a  class="small-box-footer">+ info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
        
        
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>C P</h3>

              <p>Consulta Proveedor</p>
            </div>
            <div class="icon">
              <i class="fa fa-cube"></i>
            </div>
            <a  class="small-box-footer">+ info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
        <div class="inner">   </div>
            <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>C C</h3>

              <p>Consulta Categoría</p>
            </div>
            <div class="icon">
              <i class="fa fa-file-text"></i>
            </div>
            <a href="consultas_reporte.xhtml" class="small-box-footer">+ info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
		
		        <div class="inner">   </div>
            <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-orange">
            <div class="inner">
              <h3>H S</h3>

              <p>Historial Salida</p>
            </div>
            <div class="icon">
              <i class="fa fa-truck"></i>
            </div>
            <a href="consultas_reporte.xhtml" class="small-box-footer">+ info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
         
		
		  <div class="inner">   </div>
            <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-olive">
            <div class="inner">
              <h3>S M</h3>

              <p>Stock Mínimo</p>
            </div>
            <div class="icon">
              <i class="fa fa-line-chart"></i>
            </div>
            <a href="consultas_reporte.xhtml" class="small-box-footer">+ info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
			
	</h:form>
</div>


<p:dialog header="Generar reporte de productos con stock bajo" widgetVar="dlg5" modal="true"  responsive="true">
	<h:form>
		<p:panelGrid columns="2">
			<p:outputLabel value="¿Stock mínimo a mostrar?"/>
			<p:inputNumber   binding="#{rowspro}" required="true" decimalPlaces="0" thousandSeparator="" />
			<p:commandButton value="Generar Reporte" class="btn btn-info btn-flat" actionListener="#{BeanProducto.exportarPDF(this,rowspro.value)}" ajax="false"  />
	
		</p:panelGrid>

	</h:form>
</p:dialog>

<p:dialog header="Generar reporte de salidas por año " widgetVar="dlg4" modal="true"  responsive="true">
	<h:form>
		<p:panelGrid columns="1">
			<p:outputLabel  value="Año" class="form-control"/>
			<p:inputNumber    binding="#{rowspro}" required="true" decimalPlaces="0" thousandSeparator="" />
			<p:commandButton value="Generar Reporte"  styleClass="btn btn-success btn-flat form-control" actionListener="#{BeanProducto.SalidasYear(this,rowspro.value)}" ajax="false"  />
	
		</p:panelGrid>
	</h:form>
</p:dialog>


</ui:define>

</ui:composition>