<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" template="/plantilla/Plantilla.xhtml">
	<ui:define name="contenido_A">
		<div class="panel">
			<div class="panelheader">
				
				<div align="right" style="margin: 5px">
				
					<button class="btn  btn-primary btn-xs bt-flat" onclick="PF('rprod').show();" >
						Nuevo Empleado <i class="fa fa-plus-square"></i>
					</button>
				</div>
			</div>
			<div class="panelbody">
			
				<h:form id="emmp">
					<p:messages id="as22222x"  />
					
					<div align="center">
					<p style="font-size: 17px"> Lista de Empleados</p>
					</div>
					
					<p:dataTable id="tablaEmp" value="#{beanEmpleado.listaEmpleado}" var="emplea" paginator="true" paginatorPosition="top" rows="4" widgetVar="prodtable" reflow="true" rowsPerPageTemplate="1,4,5,8,10,15">
						<f:facet name="header">
		      
		    		   <p:commandButton id="toggler" type="button" value="Columns" styleClass="btn btn-flat btn-success" style=" border:none" />
							<p:columnToggler datasource="tablaEmp" trigger="toggler" />
						</f:facet>
						<p:column headerText="Nombre" sortBy="#{emplea.tblpersona.nombre} #{emplea.tblpersona.apellidoPaterno} #{emplea.tblpersona.apellidoMaterno}" filterBy="#{emp.tblpersona.nombre} #{emp.tblpersona.apellidoPaterno} #{emp.tblpersona.apellidoMaterno}">
							<p:outputLabel value="#{emplea.tblpersona.nombre} #{emplea.tblpersona.apellidoPaterno} #{emplea.tblpersona.apellidoMaterno}" />
						</p:column>
						<p:column headerText="D.N.I" sortBy="#{emplea.tblpersona.dniPersona}" filterBy="#{emplea.tblpersona.dniPersona}">
							<p:outputLabel value="#{emplea.tblpersona.dniPersona}" />
						</p:column>
						<p:column headerText="Fecha Naci." sortBy="#{emplea.tblpersona.fechaNacimiento}" filterBy="#{emplea.tblpersona.fechaNacimiento}">
							<p:outputLabel value="#{emplea.tblpersona.fechaNacimiento}"/>
						</p:column>
					
					
						<p:column headerText="Cargo" sortBy="#{emplea.tblcargo.descripcion}" filterBy="#{emplea.tblcargo.descripcion}">
							<p:outputLabel value="#{emplea.tblcargo.descripcion}" />
						</p:column>
						
							<p:column headerText="InfoContacto">
							<p:commandLink  class="btn btn-xs btn-flat btn-warning" actionListener="#{beanEmpleado.SeleccionarInfoContato(emplea.tblpersona.tblInfoContacto)}" oncomplete="PF('dlginfocontacto').show()" update="dlinfo">
							<i class="fa fa-info-circle"></i> + Información
							</p:commandLink>
						</p:column>
					
						
						<p:column headerText="Fecha Contr.">
							<p:outputLabel value="#{emplea.fechaContrato}"/>
						</p:column>
						<p:column headerText="Administrador">
						
								<p:commandLink style="text-decoration:none;" class="btn btn-primary btn btn-flat btn btn-xs" actionListener="#{beanEmpleado.seleccionarEmpl(emplea)}" oncomplete="PF('dialogoActualizar').show();" update="DlgUpdate">
									<i class="fa fa-edit"></i> Actualizar
								</p:commandLink>
							
						</p:column>
					</p:dataTable>
				</h:form>
			</div>
		</div>
		
		
		<ui:insert>
		<ui:include src="/paginas/dialogs/empleado/InfoContacto.xhtml" />
		</ui:insert>
		
		
<!-- 			dialogo de actualizacion///////////////////////////////////////////////////////////////////////////// -->
			<ui:insert>
		<ui:include src="/paginas/dialogs/empleado/actualizar.xhtml" />
		</ui:insert>
		
		<!-- dialogo de registro /////////////////////////////////////////////////////////////////////////////////////////////////////-->
	 <ui:insert>
	 <ui:include src="/paginas/dialogs/empleado/registrar.xhtml" />
	 </ui:insert>
		

		
	</ui:define>
</ui:composition>