<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" template="/plantilla/Plantilla.xhtml">
	<ui:define name="contenido_A">
		<div class="panel">
			<div class="panelheader" style="margin: 5px;" align="right">
				
				<p:commandLink onclick="PF('dialogoRegistrar').show()"   class="btn btn-primary btn-xs btn-flat" >
				Nuevo Salida <i class="fa fa-plus-square"></i>
				</p:commandLink>
			</div>
			<div class="panelbody">
				<h:form id="salPro">
					<div align="center">
						<p style="font-size: 17px" >Historial de salidas</p>
					</div>
					<p:dataTable id="tablaSal" value="#{BeanDetalleSalidaProducto.outs}" var="out" paginator="true" paginatorPosition="top" rows="8" widgetVar="prodtable" rowsPerPageTemplate="3,5,8,10,15" reflow="true">
						<f:facet name="header">
								  							 
							<p:commandButton id="toggler" type="button" value="Columnas" class="btn btn-success btn-flat" style=" margin:15px; border:none;" />
							<p:columnToggler datasource="tablaSal" trigger="toggler" />
						</f:facet>
						<p:column headerText="Responsable">
						<p:outputLabel value="#{out.tblEmpleado.tblpersona.nombre} #{out.tblEmpleado.tblpersona.apellidoPaterno} "/>
						</p:column>
						
						<p:column headerText="Fecha">
						<p:outputLabel value="#{out.fechaSalida}"/>
						</p:column>
						
						
						<p:column headerText="Detalles" width="18%">
						<p:commandLink  onclick="PF('dlgDetalle').show()" actionListener="#{BeanDetalleSalidaProducto.SelectedOutDetails(out.tblDetSalPro)}" class="btn btn-warning btn btn-flat btn btn-xs" style="text-decoration:none;" update="tbldeta" >
						<i class="fa fa-info-circle"></i> + Información
						</p:commandLink>
						</p:column>
						
					</p:dataTable>
				</h:form>
				
				
			<p:dialog widgetVar="dlgDetalle"  id="dlgde"   responsive="true" modal="true" maximizable="true" hideEffect="clip" showEffect="Bounce">
				
				<div align="center">  
					<p style="font-size: 17px">Detalles de Salida</p>
				</div>
				<p:dataTable id="tbldeta" value="#{BeanDetalleSalidaProducto.detsselected}" var="det" style="width:300px"  scrollable="true" widgetVar="prodtable" paginator="true" paginatorPosition="top" rows="8" rowsPerPageTemplate="3,5,8,10,15" reflow="true">
					<p:column headerText="Producto" >
					<p:outputLabel value="#{det.tblProducto.nombre}"/>
					</p:column>
					<p:column headerText="Cantidad">
					<p:outputLabel value="#{det.cantidad}"/>
					</p:column>
				</p:dataTable>

			</p:dialog>
				 
				
				<ui:insert>
					<ui:include src="/paginas/dialogs/salidaproducto/registrar.xhtml" />
				</ui:insert>
				
		
				<p:dialog widgetVar="dialogoActualizar" modal="true" id="DlgUpdate" resizable="false" hideEffect="clip" showEffect="Bounce">
					<h:form>
						<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
						<p:messages closable="true" />
						<p:panel id="panel" header="Esta En Proceso">
							<img src="imagen/error.png" />
						</p:panel>
					</h:form>
				</p:dialog>
			</div>
		</div>
	</ui:define>
</ui:composition>