
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<!-- 	dialogo de actualizacion///////////////////////////////////////////////////////////////////////////// -->
		<p:dialog widgetVar="rprod2" id="reprod2" header="Actualizar Usuario" modal="true" hideEffect="clip" showEffect="Bounce" resizable="false" responsive="true" minimizable="true" maximizable="true">
			<p:messages id="asx" autoUpdate="true" />
			<div class="panel">
				<div class="panelbody">
					<h:form id="rrrform" style="width:100%!important">
						<h1>En Construccion, vuelva pronto ;v</h1>
					
					</h:form>
				</div>
			</div>
		</p:dialog>
</ui:composition>
</html>