<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	
			
		<p:dialog widgetVar="rprod" id="reprod" header="Registrar Usuario" modal="true" hideEffect="clip" showEffect="Bounce" resizable="false" responsive="true" minimizable="true" maximizable="true">
			<p:messages id="asx2" autoUpdate="true" />
			<h:form id="rrrform2">
				<p:panelGrid columns="2" >
					<p:outputLabel for="usuario" value="Usuario:" />
					<p:inputText id="usuario" value="#{BeanUsuario.usu.usuario}" />
					<p:outputLabel for="pass" value="Password:" />
					<p:inputText id="pass" value="#{BeanUsuario.usu.contrasena}"  />
				</p:panelGrid>
				<p:commandButton value="Registrar" actionListener="#{BeanUsuario.agregarUsuario}" update="@form" styleClass="btn btn-primary " type="submit" />
			</h:form>
		</p:dialog>
		
</ui:composition>
</html>