<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<aside> <h:form>
		<ul class="menu">
			<li><a href="PantallaInicio.xhtml" id="btninicio" class="menusup">Inicio <i class="fa fa-home"></i></a></li>
			<li><a href="enProceso.xhtml" id="btninicio" class="menusup">Operaciones<i class="fa fa-laptop"></i></a></li>
			<li><a href="#" id="li" class="menusup"><span> Producto</span><i class="fa fa-shopping-cart"></i></a>
				<ul>
					<li><a href="ListarProductos.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-info-circle"></i></span>Informacion de Producto</a></li>
					<li><a href="../paginas/ListaCategoria.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-line-chart"></i></span>Categoria</a></li>
					<li><a href="enProceso.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-line-chart"></i></span>Stock</a></li>
				</ul></li>
			<li><a href="#" id="li" class="menusup"><span>Proveedor</span><i class="fa fa-cubes"></i></a>
				<ul>
					<li><a href="RegistrarProveedor.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-plus-square"></i></span>Registrar Proveedor</a></li>
				</ul></li>
			<li><a href="#" id="li" class="menusup"><span>Empleado</span><i class="fa fa-group"></i></a>
				<ul>
					<li><a href="RegistrarEmpleado.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-plus-square"></i></span>Registrar Empleado</a></li>
				</ul></li>
			<li><a href="#" id="li" class="menusup"><span>Usuario</span><i class="fa fa-user"></i></a>
				<ul>
					<li><a href="ListaUsuario.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-info-circle"></i></span>Informacion de Usuario</a></li>
				</ul></li>
			<li><a href="#" id="li" class="menusup"><span>Salida</span><i class="fa fa-truck "></i></a>
				<ul>
					<li><a href="SalidasProductos.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-folder-open-o"></i></span>Historial de Salida </a></li>
				</ul></li>
			<li><a href="#" id="li" class="menusup"><span>Entrada</span><i class="fa fa-truck "></i></a>
				<ul>
					<li><a href="../paginas/entradaProducto.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-folder-open-o"></i></span>Historial de Entrada </a></li>
				</ul></li>
			<li><a href="#" id="li" class="menusup"><span>Reportes</span><i class="fa fa-file-text-o"></i></a>
				<ul>
					<li><a href="consultas_reporte.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-info-circle"></i></span>Consultar Reporte</a></li>
				</ul></li>
			<li><a href="#" id="li" class="menusup"><span>Usuario</span><i class="fa fa-file-text-o"></i></a>
				<ul>
					<li><h:commandLink action="#{BeanUsuario.CerrarSession}" class="menuitem" value="Salir Sistema"></h:commandLink><span style="margin-right: 5px;"><i class="fa fa-info-circle"></i></span></li>
				</ul></li>
		</ul>
	</h:form> </aside>
</ui:composition>
</html>