<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<header class="header">
	<div id="h1">
		<p:graphicImage id="h1img" library="imagenes" name="LogoGaspar-Constructora.png" />
	</div>
	<!-- 		<div class="dynamic"> -->
	<div id="h2">BIENVENIDO //\\ SISTEMA CONTROL DE INVENTARIO</div>
	<div id="h3">
		<p:graphicImage id="userlog" library="imagenes" name="user.png" style="" />
		<!-- 			</div> -->
	</div>
	</header>
</ui:composition>
</html>