
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";


.panela
{
	height: 26px;
	
	position:relative;
	
	left: 68%;
	
}

.smallButton
{
	border:none;

	background: black;
	
	color: #fff;
	
	border-radius: 15px;
	
	height: 40px;
	
	width: 120px;
	
	font-size:15px;
	
	font-family: Arial;
	/*-webkit-box-shadow: 0px 0px 30px #A3FF0F; */
	
	
}
.smallButton:hover
{
	border:none;

	background:  #262525 ;
	
	color: #fff;
	
	border-radius: 15px;
	
	
	height: 40px;
	
	width: 120px;
	
	font-size:16px;
	
	font-family: Arial;
	/*-webkit-box-shadow: 0px 0px 30px #A3FF0F; */
	
	
}

.panelb
{
	
	width:100%;
	
	height: 50%;
	
	background: black;
	
}

.titulo
{
	font-size: 	20px;
	
	color: #fff;
}
.lupa
{
	position: absolute;
	top: 40%;
	left:2%;
}

.smallText
{
   
}

.smallText:hover
{
    background:#fff;
    border:;
    color: black;
    padding: 5px 25px 5px 25px;
    width: 230px;
    border-radius: 15px;
    font-size:15px;
    
    box-shadow:transparent;
}

.micro
{
	position: absolute;
	top: 38%;
	left:63%;
}

.login
{
	position: absolute;
	top:25%;
	left: 85%;
}



/*
input.user{ background-position: 4px -21px; }
input.search{ background-position: 4px 4px; }
input.password{ background-position: 4px -46px; }
input.favorite{ background-position: 4px -70px; }*/