body
{
	
}

.smallText
{
	font-family: sans-serif;
	width: 240px;
	height:36px;
	padding:5px 25px 5px 25px;
	font-size: 16px;
	color:black;
	background:#fff;
	letter-spacing: .5px;
	line-height: none;
	box-shadow: transparente;	
	outline: none;
	border: none;
	
	border-radius: 15px;
}

.smallButton
{
	
	width: 302px;
	height:42px;
	border: none;
	font-family:sans-serif;
	color:black;
	background: #2e86de;
	font-size: 17.5px;
	line-height: none;
	box-shadow: none;	
	outline: none;
	border: none;
	text-shadow: none;
	border-radius: 15px;
}
.smallButton:hover {
	
	width: 300px;
	height:40px;
	
	background: #54a0ff;
	font-size: 17.5px;
	font-family:sans-serif;
	border-radius: 15px;
}
.t1
{
	
	 background:rgba(0, 0 ,0 ,.7) ;

	 height: 500px; 
	width: 30%; 
	border-radius:25px;
}
.smallLink
{
	color:#878787;
	line-height: none;
	text-decoration: none;
}
.smallLink:hover
{
	color:#C9EBFF;
	line-height: none;
	text-decoration: none;
}
.input-group {
			width:0%;
			margin: 0 auto;
			margin-top:px;
		}
.td
{
color:#fff;font-family: sans-serif; font-size: 20px
}
