<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<p:dialog widgetVar="dialogoRegistrar" id="regidlg" modal="true" header="Registrar Salida de Productos" resizable="false" hideEffect="clip" showEffect="Bounce" maximizable="true" minimizable="true">
		<h:form id="add">
			<p:messages />
		
			<p:panel id="panel" header="Registrar Salida de Producto">
				<h:panelGrid columns="2">
					<p:outputLabel for="prod" value="Producto" />
					<p:column>
						<p:autoComplete id="prod" value="#{BeanDetalleSalidaProducto.detSalPro.tblProducto}" completeMethod="#{BeanProducto.BU}" var="pro" itemLabel="#{pro.nombre}" itemValue="#{pro}" converter="ProductoConverter" placeholder="Buscar producto 'nombre' ">
							<p:column style="width:40%">
								#{pro.nombre} - #{pro.codigoBarra}
								</p:column>
						</p:autoComplete>
					</p:column>
					<p:outputLabel for="c" value="Cantidad:" />
					<p:inputNumber id="c" value="#{BeanDetalleSalidaProducto.detSalPro.cantidad}" required="true" requiredMessage="Debe especificar la cantidad" thousandSeparator="" />
				</h:panelGrid>
			</p:panel>
			<p:commandButton value="Agregar Detalle" actionListener="#{BeanDetalleSalidaProducto.adddet()}" styleClass="btn btn-primary" update="@form,dtab" />
		</h:form>
		
		
		
		<p:panel header="Detalle de salida">
			<p:dataTable id="dtab" value="#{BeanDetalleSalidaProducto.dets}" var="det" scrollable="true" scrollHeight="200">
				<p:column headerText="Producto">
					<p:outputLabel value="#{det.tblProducto.nombre}" />
				</p:column>
				<p:column headerText="Cantidad">
					<p:outputLabel value="#{det.cantidad}" />
				</p:column>
				<p:column headerText="Accion">
					<p:commandButton value="Quitar" actionListener="#{BeanDetalleSalidaProducto.deldet(det)}" update="dtab" />
				</p:column>
			</p:dataTable>
		</p:panel>
		
		<h:form id="sendfr">
			<p:outputLabel for="a" value="Empleado:" />
			<p:selectOneMenu id="a" value="#{BeanDetalleSalidaProducto.emp.idEmpleado}" required="true" requiredMessage="Debe seleccionar un Empleado">
				<f:selectItem itemLabel="Seleccione un Empleado" itemValue="" />
				<f:selectItems value="#{BeanDetalleSalidaProducto.listaEmpleado}" var="emp" itemValue="#{emp.idEmpleado}" itemLabel="#{emp.tblpersona.nombre}" />
			</p:selectOneMenu>
			<p:commandButton value="Registrar Salida" actionListener="#{BeanDetalleSalidaProducto.RegistrarSalida()}" styleClass="btn btn-primary" update="add,dtab,sendfr,salPro"/>
		</h:form>
	</p:dialog>
</ui:composition>
</html>