<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
     xmlns:p="http://primefaces.org/ui">

<h:head>
<title><h:outputText value="Actualizar InfoContacto" /></title>
</h:head>


<h:body>

<h:form>
<p:growl showDetail="true" id="mensaje" autoUpdate="true" severity="info,fatal" showSummary="true"/>
<p:fieldset legend="Datos de InfoContacto" toggleable="true">
<h:panelGrid columns="3" id="Datos">

<p:outputLabel value="ID INFOCONTACTO:" for="idInfoContacto" />
<p:inputText required="true" value="#{infoContactoBean.info.idInfoContacto}" id="idInfoContacto"/>
<p:message for="idInfoContacto"/>

<p:outputLabel value="DIRECCIÓN:" for="direccion" />
<p:inputText required="true" value="#{infoContactoBean.info.direccion}" id="direccion"/>
<p:message for="direccion"/>


<p:outputLabel value="EMAIL:" for="email" />
<p:inputText required="true" value="#{infoContactoBean.info.email}" id="email"/>
<p:message for="email"/>


<p:outputLabel value="TELEFONO:" for="telefono" />
<p:inputText required="true" value="#{infoContactoBean.info.telefono}" id="telefono"/>
<p:message for="telefono"/>


<p:outputLabel value="CELULAR:" for="celular" />
<p:inputText required="true" value="#{infoContactoBean.info.celular}" id="celular"/>
<p:message for="celular"/>





<p:watermark for="idInfoContacto"                value="Ingrese Aqui Código"></p:watermark >
 <p:watermark for="direccion"              value="Ingrese Aqui Código"></p:watermark>
 <p:watermark for="email"                 value="Ingrese Aqui Código"></p:watermark>
  <p:watermark for="telefono"                 value="Ingrese Aqui Código"></p:watermark>
  <p:watermark for="celular"                  value="Ingrese Aqui Nombre Tipo"></p:watermark>
 
</h:panelGrid>

<p:commandButton value="Actualizar" actionListener="#{infoContactoBean.Actualizar}" icon="ui-icon-star">
<p:confirm header="Confirmacion" message="¿Esta seguro?" icon="ui-icon-alert"/>
</p:commandButton>

<p:confirmDialog global="true">
<p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
</p:confirmDialog>
</p:fieldset>



</h:form>

</h:body> 
</html>
