<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

<f:loadBundle basename="resources.application" var="msg"/>

<h:head>
    <title><h:outputText value="#{msg.welcomeTitle}" /></title>
</h:head>

<h:body>

	<h:form>
	<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
	<p:messages closable="true" />
		<p:panel id="panel" header="Lista de empleados" >
		
		<h:panelGrid columns="7" cellpadding="5">
			<p:commandButton value="Listar" actionListener="#{beanEmpleado.listarEmpleados()}" 
			ajax="true" update=":emmp:tablaEmp" />
			
			<p:commandButton onclick="PF('dialogoRegistrar').show();" value="Registrar" />	
		</h:panelGrid>
		
		</p:panel>
	</h:form>
	
	<h:form id="emmp">	
		
				<p:dataTable id="tablaEmp" value="#{beanEmpleado.listaEmpleado}"  var="emplea"  style="font-size: 12px;" >
						
   							 <p:column headerText="Nombre">
        					 	<p:outputLabel value="#{emplea.tblpersona.nombre} #{emp.tblpersona.apellidoPaterno} #{emp.tblpersona.apellidoMaterno}" />
    						 </p:column>
    						 
    						 <p:column headerText="D.N.I">
        						<p:outputLabel value="#{emplea.tblpersona.dniPersona}" />
    						</p:column>
    						 
    						 <p:column headerText="Fecha Nacimiento">
								<p:calendar value="#{emplea.tblpersona.fechaNacimiento}" pattern="dd/MM/yyyy HH:mm:ss" locale="en"></p:calendar>
	     					</p:column>
 
    						<p:column headerText="Dirección">
        						<p:outputLabel value="#{emplea.tblpersona.tblInfoContacto.direccion}" />
    						</p:column>
 
   					   		<p:column headerText="Celular">
        						<p:outputLabel value="#{emplea.tblpersona.tblInfoContacto.celular}" />
    						</p:column>
 
    						<p:column headerText="Telefono">
        						<p:outputLabel value="#{emplea.tblpersona.tblInfoContacto.telefono}" />
    						</p:column>
    						
    						<p:column headerText="Email@">
        						<p:outputLabel value="#{emplea.tblpersona.tblInfoContacto.email}" />
    						</p:column>
    						
    						<p:column headerText="Cargo">
        						<p:outputLabel value="#{emplea.tblcargo.descripcion}" />
    						</p:column>
    						    						
    						<p:column headerText="Fecha Contrato">
				
								<p:calendar value="#{emplea.fechaContrato}" pattern="dd/MM/yyyy HH:mm:ss" locale="en"></p:calendar>
			
	     					</p:column>
	     					
	     					<p:column rendered="#{beanEmpleado.accion}" headerText="Administrador">
	     					<center>
	     						<p:commandLink onclick="PF('dialogoActualizar').show();" oncomplete="PF('dialogoActualizar').show();" 
	     						actionListener="#{beanEmpleado.seleccionarEmpl(emplea)}" update="DlgUpdate">
			            		<img src="../imagen/editar.png" style="width: 25px; height: 25px; "/>
				                </p:commandLink>
			                </center>
	     					</p:column>
    						
						</p:dataTable>
	</h:form>
	
	<p:dialog  widgetVar="dialogoRegistrar" modal="true" resizable="false" hideEffect="clip" showEffect="Bounce">
	<h:form>
	<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
	<p:messages closable="true" />
		<p:panel id="panel" header="Agregar Empleado" >
				<h:panelGrid columns="2" cellpadding="5" style="width: 47px; height: 80px; ">
				
								
				<p:outputLabel for="Codigo" value="DNI:" />
				<p:inputText id="Codigo" value="#{beanEmpleado.pers.dniPersona}"/>
				
				<p:outputLabel for="nombre" value="Nombre:" />
				<p:inputText id="nombre" value="#{beanEmpleado.pers.nombre}"/>
			
				<p:outputLabel for="a" value="Apellidos paterno:" />
				<p:inputText  id="a" value="#{beanEmpleado.pers.apellidoPaterno}"/>
				
				<p:outputLabel for="b" value="Apellidos materno:" />
				<p:inputText  id="b" value="#{beanEmpleado.pers.apellidoMaterno}"/>
				
				<p:outputLabel for="fecha" value="Fecha Nacimiento:" />
				<p:calendar id="fecha" value="#{beanEmpleado.pers.fechaNacimiento}" mode="popup" 
				showOn="button" popupIconOnly="true" pattern="dd/MM/yyyy">
				</p:calendar>
				
					
				<p:outputLabel for="c" value="Dirección:" />
				<p:inputText id="c" value="#{beanEmpleado.inf.direccion}"/>
				
				<p:outputLabel for="d" value="Email:" />
				<p:inputText id="d" value="#{beanEmpleado.inf.email}" />
				
				<p:outputLabel for="e" value="Telefono:" />
				<p:inputText id="e" value="#{beanEmpleado.inf.telefono}" />
				
				<p:outputLabel for="f" value="Celular:" />
				<p:inputText id="f" value="#{beanEmpleado.inf.celular}"/>
				
			
				<p:outputLabel for="cargo" value="Cargo:" />
				
				<p:selectOneMenu id="cargo" value="#{beanEmpleado.carg.idCargo}" >
                        <f:selectItem  itemLabel="Selecciona Cargo" />
                        <f:selectItems value="#{beanCargo.listacargada}" var="cargo" itemValue="#{cargo.idCargo}" itemLabel="#{cargo.descripcion}"/>
                </p:selectOneMenu> 
                
                
								
				<p:commandButton value="Registrar Empleado" actionListener="#{beanEmpleado.Registrar()}"  icon="ui-icon-disk" 
				update=":emmp:tablaEmp" oncomplete="PF('dialogoRegistrar').hide();"/>
				</h:panelGrid>
		</p:panel>
	</h:form>
	</p:dialog>

	<p:dialog  widgetVar="dialogoActualizar" id="DlgUpdate" modal="true" resizable="false" hideEffect="clip" showEffect="Bounce">
	<h:form>
	<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
	<p:messages closable="true" />
		<p:panel id="panel" header="Actualizar Empleado" >
				<h:panelGrid columns="2" cellpadding="5" style="width: 47px; height: 80px; ">
				
								
				<p:outputLabel for="Codigo" value="DNI:" />
				<p:inputText id="Codigo" value="#{beanEmpleado.empl.tblpersona.dniPersona}"/>
				
				<p:outputLabel for="nombre" value="Nombre:" />
				<p:inputText id="nombre" value="#{beanEmpleado.empl.tblpersona.nombre}"/>
			
				<p:outputLabel for="a" value="Apellidos paterno:" />
				<p:inputText  id="a" value="#{beanEmpleado.empl.tblpersona.apellidoPaterno}"/>
				
				<p:outputLabel for="b" value="Apellidos materno:" />
				<p:inputText  id="b" value="#{beanEmpleado.empl.tblpersona.apellidoMaterno}"/>
				
				<p:outputLabel for="fecha" value="Fecha Nacimiento:" />
				<p:calendar id="fecha" value="#{beanEmpleado.empl.tblpersona.fechaNacimiento}" mode="popup" 
				showOn="button" popupIconOnly="true" pattern="dd/MM/yyyy">
				</p:calendar>
				
					
				<p:outputLabel for="c" value="Dirección:" />
				<p:inputText id="c" value="#{beanEmpleado.empl.tblpersona.tblInfoContacto.direccion}"/>
				
				<p:outputLabel for="d" value="Email:" />
				<p:inputText id="d" value="#{beanEmpleado.empl.tblpersona.tblInfoContacto.email}" />
				
				<p:outputLabel for="e" value="Telefono:" />
				<p:inputText id="e" value="#{beanEmpleado.empl.tblpersona.tblInfoContacto.telefono}" />
				
				<p:outputLabel for="f" value="Celular:" />
				<p:inputText id="f" value="#{beanEmpleado.empl.tblpersona.tblInfoContacto.celular}"/>
				
			
				<p:outputLabel for="cargo" value="Cargo:" />
				
				<p:selectOneMenu id="cargo" value="#{beanEmpleado.carg.idCargo}" rendered="true">
                        <f:selectItem  itemLabel="Selecciona Cargo" />
                        <f:selectItems value="#{beanCargo.listacargada}" var="cargo" itemValue="#{cargo.idCargo}" itemLabel="#{cargo.descripcion}"/>
                </p:selectOneMenu> 
                
                
								
				<p:commandButton value="Actualizar Empleado" actionListener="#{beanEmpleado.actualizar()}"  icon="ui-icon-disk" 
				update=":emmp:tablaEmp" oncomplete="PF('dialogoActualizar').hide();"/>
				</h:panelGrid>
		</p:panel>
	</h:form>
	</p:dialog>
</h:body>
</html>
