<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

<f:loadBundle basename="resources.application" var="msg"/>

<h:head>
    <title>AgregarCategoria</title>
</h:head>

<h:body>
		<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
		<p:messages closable="true" />
		<p:commandButton value="Categoria ♥" oncomplete="PF('registrarCategoria').show();"></p:commandButton>
			
	
	<h:form id="formCategoria">
		<p:dataTable id="tablaCategoria" value="#{BeanProducto.listarCat}" var="cate">
			<p:column headerText="Categoria">
				<p:outputLabel value="#{cate.nombre}" />
			</p:column>
			<p:column headerText="Administrador" rendered="#{BeanProducto.accion}">
				<center>
					<p:commandLink actionListener="#{BeanProducto.seleccionarCategoria(cate)}" oncomplete="PF('actualizarCategoria').show();">
					<img src="../imagen/editar.png" style="width: 25px; height: 25px;"/>
					</p:commandLink>
				</center>
			</p:column>
		</p:dataTable>
	</h:form>
	
	<p:dialog widgetVar="registrarCategoria">
		<h:form>
		<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
		<p:messages closable="true" />
			<p:panel id="panel" header="Agregar Categoria" style="width: 500px; height: 600px;">
					<h:panelGrid columns="2" cellpadding="5" style="width: 47px; height: 80px; ">
	
						<p:outputLabel for="nombre" value="Nombre:" />
						<p:inputText id="nombre" value="#{BeanCategoria.cat.nombre}"/>
								
						<p:commandButton value="Agregar" actionListener="#{BeanCategoria.agregar()}" update=":formCategoria:tablaCategoria" 
						oncomplete="PF('registrarCategoria').hide();" icon="ui-icon-disk"/>
					</h:panelGrid>
			</p:panel>
		</h:form>
	</p:dialog>
	
	
</h:body>
</html>
