<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    
    >

<h:head>
    <title>Usuario</title>
</h:head>

<h:body>

<h:form>


<p:growl id="mensaje" autoUpdate="true"
severity="info, fatal" showSummary="true"
showDetail="true"/>


<p:fieldset legend="Datos"
toggleable="true">
<h:panelGrid columns="3" id="pgDatos">

<p:outputLabel value="Nombres" 
for="txtNombres"/>
<p:inputText required="true" id="txtNombres"
value="#{usuarioController.persona.nombres}"/>
<p:message for="txtNombres"/>

<p:outputLabel value="Apellidos" 
for="txtApellidos"/>
<p:inputText required="true"
id="txtApellidos" value="#{usuarioController.persona.apellidos}"/>
<p:message for="txtApellidos"/>

<p:outputLabel value="Sexo" 
for="selectSexo"/>
<p:selectOneRadio required="true"
id="selectSexo" value="#{usuarioController.persona.sexo}">
<f:selectItem itemValue="M" 
itemLabel="MASCULINO"/>
<f:selectItem itemValue="F" 
itemLabel="FEMENINO"/>
</p:selectOneRadio>
<p:message for="selectSexo"/>

<p:outputLabel value="Fec. Nacimiento" 
for="caleNacimiento"/>
<p:calendar locale="es" required="true"
id="caleNacimiento"  value="#{usuariobean01.usuario.f_registro}"/>   <!-- mode="popup" showOn="button" popupIconOnly="true" pattern="dd/MM/yyyy" -->    
<p:message for="caleNacimiento"/>
</h:panelGrid>
</p:fieldset>

<p:fieldset legend="Datos de la Cuenta"
toggleable="true">

<h:panelGrid columns="3" id="pgCuenta">

<p:outputLabel value="Usuario" 
for="txtUsuario"/>
<p:inputText required="true" id="txtUsuario"
value="#{usuariobean01.usuario.id_usuario}"/>
<p:message for="txtUsuario"/>


<p:outputLabel value="Clave" for="clave1"/>
<p:password id="clave1" match="clave2" feedback="true"
validatorMessage="Las claves no coinciden!"
weakLabel="Debil"
strongLabel="Fuerte"
goodLabel="Bueno"
required="true"
value="#{usuariobean01.usuario.claveusuario}"/>
<p:message for="clave1" />
<p:outputLabel value="Repetir Clave" 
for="clave2"/>
<p:password id="clave2"
required="true" requiredMessage="Campo Requerido"/>
<p:message for="clave2"/>


<p:outputLabel value="Estado" 
for="cboEstado"/>
<p:selectOneMenu required="true" id="cboEstado"
value="#{usuariobean01.usuario.estado_usuario}"
style="width: 200px;">
<f:selectItem itemLabel="-Seleccione-" itemValue="-1"></f:selectItem>
<f:selectItem itemLabel="Inactivo" itemValue="0"></f:selectItem>
<f:selectItem itemLabel="Activo" itemValue="1"></f:selectItem>
<f:selectItem itemLabel="Modificado" itemValue="2"></f:selectItem>
</p:selectOneMenu>
<p:message for="cboEstado"/>




</h:panelGrid>
<p:commandButton value="Agregar" update="pgDatos, pgCuenta, mensaje" actionListener="#{beanUsuario.Registrar}" icon="ui-icon-disk" >
<p:confirm header="Confirmacion" message="¿Seguro de realizar esta accion?" icon="ui-icon-alert"/> 
</p:commandButton>
</p:fieldset>
<p:confirmDialog global="true"> 
<p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/> 
<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/> 
</p:confirmDialog>

</h:form>

</h:body>
</html>
