<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

<f:loadBundle basename="resources.application" var="msg"/>

<h:head>
    <title>AgregarCategoria</title>
</h:head>

<h:body>
<p:commandButton value="Cargo+"  oncomplete="PF('registrarCargo').show()"></p:commandButton>

		<p:dialog widgetVar="registrarCargo">
			<h:form>
			<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
			<p:messages closable="true" />
				<p:panel id="panel" header="Agregar Cargo" style="width: 500px; height: 600px;">
						<h:panelGrid columns="2" cellpadding="5" style="width: 47px; height: 80px; ">
							
							
							<p:outputLabel for="nombre" value="Nombre:" />
							<p:inputText id="nombre" value="#{beanCargo.carg.descripcion}" onclick="this.value='';"/>
									
							<p:commandButton value="Agregar" actionListener="#{beanCargo.registrar()}" icon="ui-icon-disk"/>
						</h:panelGrid>
				</p:panel>
			</h:form>
		</p:dialog>
		
</h:body>
</html>
