<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

<f:loadBundle basename="resources.application" var="msg"/>

<h:head>
    <title><h:outputText value="#{msg.welcomeTitle}" /></title>
</h:head>

<h:body>
	<h:form>
	<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
	<p:messages closable="true" />
		<p:panel id="panel" header="Lista de Salida de Productos" >
		
		<h:panelGrid columns="7" cellpadding="5">
			<p:commandButton value="Listar" actionListener="#{BeanDetalleSalidaProducto.listarSalidaProducto()}"
			ajax="true" update=":salPro:tablaSal" />
			
			<p:commandButton onclick="PF('dialogoRegistrar').show();" value="Registrar" />	
		</h:panelGrid>
		
		</p:panel>
	</h:form>
	
	<h:form id="salPro">	
		
				<p:dataTable id="tablaSal" value="#{BeanDetalleSalidaProducto.listaDetSalPro}"  var="saliPro"  style="font-size: 12px;" >
						
   							 <p:column headerText="producto°">
        					 	<p:outputLabel value="#{saliPro.tblProducto.nombre}" />
    						 </p:column>
 
    						<p:column headerText="Cantidad">
        						<p:outputLabel value="#{saliPro.cantidad}" />
    						</p:column>
 
   					   		<p:column headerText="Empleado">
        						<p:outputLabel value="#{saliPro.tblSalPro.tblEmpleado.tblpersona.nombre} #{saliPro.tblSalPro.tblEmpleado.tblpersona.apellidoPaterno} #{saliPro.tblSalPro.tblEmpleado.tblpersona.apellidoMaterno}" />
    						</p:column>
 
    						    						
    						<p:column headerText="Fecha de Salida ">
				
								<p:calendar value="#{saliPro.tblSalPro.fechaSalida}" pattern="dd/MM/yyyy HH:mm:ss" locale="en"></p:calendar>
			
	     					</p:column>
	     					
	     					<p:column rendered="#{BeanDetalleSalidaProducto.accion}" headerText="Administrador">
	     					<center>
	     						<p:commandLink actionListener="#{BeanDetalleSalidaProducto.seleccionarSalPro(saliPro())}" onclick="PF('dialogoActualizar').show();" oncomplete="PF('dialogoActualizar').show();"  update="DlgUpdate">
			            		<img src="../imagen/editar.png" style="width: 25px; height: 25px; "/>
				                </p:commandLink>
			                </center>
	     					</p:column>
	     					   						
						</p:dataTable>
	</h:form>
	
	<p:dialog  widgetVar="dialogoRegistrar" modal="true" resizable="true" hideEffect="clip" showEffect="Bounce">
	<h:form>
	<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
	<p:messages closable="true" />
	
		<p:panel id="panel" header="Salida de Producto">
		
				<h:panelGrid columns="2" cellpadding="5">
				
				<p:outputLabel for="a" value="Empleado:" />
				<p:selectOneMenu id="a" value="#{BeanDetalleSalidaProducto.emp.idEmpleado}" >
                        <f:selectItem itemValue="-1" itemLabel="Selecciona Empleado" />
                        <f:selectItems value="#{BeanDetalleSalidaProducto.listaEmpleado}" var="a"/>
                </p:selectOneMenu>
                
                <p:outputLabel for="b" value="Producto:" />
				<p:selectOneMenu id="b" value="#{BeanDetalleSalidaProducto.prod.idProducto}" >
                        <f:selectItem itemValue="-1" itemLabel="Selecciona Producto" />
                        <f:selectItems value="#{BeanDetalleSalidaProducto.listaProducto}" var="b"/>
                </p:selectOneMenu>
				
				<p:outputLabel for="c" value="Cantidad:" />
				<p:inputText id="c" value="#{BeanDetalleSalidaProducto.detSalPro.cantidad}"/>
				</h:panelGrid>
				<center>
				<p:commandButton value="Agregar Salida" actionListener="#{BeanDetalleSalidaProducto.RegistrarSalida()}"  
				icon="ui-icon-disk"  oncomplete="PF('dialogoRegistrar').hide();" update=":salPro:tablaSal"/>
				</center>
		</p:panel>
	</h:form>
	</p:dialog>
	
	<p:dialog  widgetVar="dialogoActualizar" modal="true" id="DlgUpdate" resizable="false" hideEffect="clip" showEffect="Bounce"> 
		<h:form>
			<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
			<p:messages closable="true" />
			<p:panel id="panel" header="Actualizar Proveedor" >
			<h:panelGrid columns="2" cellpadding="10">
			
					<p:outputLabel for ="a" value="Razon Social:"/>
					<p:inputText id = "a" value="#{BeanProveedor.pro.razonSocial}" required="true"/>
			 		
			 			
					<p:outputLabel for ="b" value="RUC:"/>
					<p:inputText id = "b" value="#{BeanProveedor.pro.ruc}" required="true"/>
					
					<p:outputLabel for ="c" value="Ciudad:"/>
					<p:inputText id = "c" value="#{BeanProveedor.pro.ciudad}" required="true"/>
					
					<p:outputLabel for ="d" value="Dirección:"/>
					<p:inputText id = "d" value="#{BeanProveedor.pro.tblInfoContacto.direccion}" required="true"/>
					
					<p:outputLabel for ="e" value="Celular:"/>
					<p:inputText id = "e" value="#{BeanProveedor.pro.tblInfoContacto.celular}" required="true"/>
					
					<p:outputLabel for ="f" value="Telefono:"/>
					<p:inputText id = "f" value="#{BeanProveedor.pro.tblInfoContacto.telefono}" required="true"/>
					
					<p:outputLabel for ="g" value="Correo:"/>
					<p:inputText id = "g" value="#{BeanProveedor.pro.tblInfoContacto.email}" required="true"/>
			</h:panelGrid>
			
					<center>
						<p:commandButton value="Actualizar" actionListener="#{BeanProveedor.actualizar()}" update=":salPro:tablaSal" 
						oncomplete="PF('dialogoActualizar').hide();"/>
					</center>	
						
					
			
			 </p:panel>
		</h:form>
		</p:dialog>
</h:body>
</html>
