<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

<f:loadBundle basename="resources.application" var="msg"/>

<h:head>
    <title>Lista Entrada de producto</title>
</h:head>

<h:body>
	
<h:form>
	<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
	<p:messages closable="true" />
		<p:panel id="panel" header="Lista de Entrada de Productos" >
		
		<h:panelGrid columns="7" cellpadding="5">
			<p:commandButton value="Listar" actionListener="#{BeanDetalleEntradaProducto.listarEntraProducto()}"
			ajax="true" update=":entPro:tablaEnt" />
			
			<p:commandButton onclick="PF('dialogoRegistrar').show();" value="Registrar" />	
		</h:panelGrid>
		
		</p:panel>
	</h:form>
	
	<h:form id="entPro">	
		
				<p:dataTable id="tablaEnt" value="#{BeanDetalleEntradaProducto.listaDetEntPro}"  var="entrada"  style="font-size: 12px;" >
						
   							 <p:column headerText="producto°">
        					 	<p:outputLabel value="#{entrada.tblProducto.nombre}" />
    						 </p:column>
 
    						<p:column headerText="Cantidad">
        						<p:outputLabel value="#{entrada.cantidad}" />
    						</p:column>
 
   					   		<p:column headerText="Empleado">
        						<p:outputLabel value="#{entrada.tblEntPro.tblEmpleado.tblpersona.nombre} #{prove.tblEntPro.tblEmpleado.tblpersona.apellidoPaterno} #{prove.tblEntPro.tblEmpleado.tblpersona.apellidoMaterno}" />
    						</p:column>
 
    						    						
    						<p:column headerText="fecha">
				
								<p:calendar value="#{entrada.tblEntPro.fechaEntrada}" pattern="dd/MM/yyyy HH:mm:ss" locale="en"></p:calendar>
			
	     					</p:column>
	     					
	     					<p:column rendered="#{BeanDetalleEntradaProducto.accion}" headerText="Administrador">
	     					<center>
	     						<p:commandLink actionListener="#{BeanDetalleEntradaProducto.seleccionarEntrPro(entrada)}" onclick="PF('dialogoActualizar').show();" oncomplete="PF('dialogoActualizar').show();"  update="DlgUpdate">
			            		<img src="../imagen/editar.png" style="width: 25px; height: 25px; "/>
				                </p:commandLink>
			                </center>
	     					</p:column>
	     					   						
						</p:dataTable>
	</h:form>
	
	<p:dialog  widgetVar="dialogoRegistrar" modal="true" resizable="true" hideEffect="clip" showEffect="Bounce">
	<h:form>
	<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
	<p:messages closable="true" />
	
		<p:panel id="panel" header="Salida Producto">
		
				<h:panelGrid columns="2" cellpadding="5">
				
				<p:outputLabel for="a" value="Empleado:" />
				<p:selectOneMenu id="a" value="#{BeanDetalleEntradaProducto.emp.idEmpleado}" required="true">
                        <f:selectItem itemValue="-1" itemLabel="Selecciona Empleado" />
                        <f:selectItems value="#{BeanDetalleEntradaProducto.listaEmpleado}" var="a"/>
                </p:selectOneMenu>
                
                <p:outputLabel for="b" value="Producto:" />
				<p:selectOneMenu id="b" value="#{BeanDetalleEntradaProducto.prod.idProducto}"  required="true">
                        <f:selectItem itemValue="-1" itemLabel="Selecciona Producto" />
                        <f:selectItems value="#{BeanDetalleEntradaProducto.listaProducto}" var="b"/>
                </p:selectOneMenu>
				
				<p:outputLabel for="c" value="Cantidad:" />
				<p:inputText id="c" value="#{BeanDetalleEntradaProducto.detEntPro.cantidad}" required="true"/>
				</h:panelGrid>
				<center>
				<p:commandButton value="Agregar Producto" actionListener="#{BeanDetalleEntradaProducto.RegistrarEntrada()}"  
				icon="ui-icon-disk"  oncomplete="PF('dialogoRegistrar').hide();" update=":entPro:tablaEnt"/>
				</center>
		</p:panel>
	</h:form>
	</p:dialog>
	
	<p:dialog  widgetVar="dialogoActualizar" modal="true" id="DlgUpdate" resizable="false" hideEffect="clip" showEffect="Bounce"> 
		<h:form>
			<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
			<p:messages closable="true" />
			<p:panel id="panel" header="Actualizar Entrada Producto" >
			
			<h:panelGrid columns="2" cellpadding="5">
				
				<p:outputLabel for="ae" value="Empleado:" />
				<p:selectOneMenu id="ae" value="#{BeanDetalleEntradaProducto.emp.idEmpleado}" required="true">
                        <f:selectItem itemValue="-1" itemLabel="Selecciona Empleado" />
                        <f:selectItems value="#{BeanDetalleEntradaProducto.listaEmpleado}" var="ae"/>
                </p:selectOneMenu>
                
                <p:outputLabel for="be" value="Producto:" />
				<p:selectOneMenu id="be" value="#{BeanDetalleEntradaProducto.prod.idProducto}" required="true">
                        <f:selectItem itemValue="-1" itemLabel="Selecciona Producto" />
                        <f:selectItems value="#{BeanDetalleEntradaProducto.listaProducto}" var="be"/>
                </p:selectOneMenu>
				
				<p:outputLabel for="ce" value="Cantidad:" />
				<p:inputText id="ce" value="#{BeanDetalleEntradaProducto.detEntPro.cantidad}" rendered="true"/>
				</h:panelGrid>
			
					<center>
						<p:commandButton value="Actualizar" actionListener="#{BeanDetalleEntradaProducto.actualizar()}" update=":entPro:tablaEnt" 
						oncomplete="PF('dialogoActualizar').hide();"/>
					</center>	
						
					
			
			 </p:panel>
		</h:form>
		</p:dialog>
</h:body>
</html>
