<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">



<h:head>
    <title></title>
</h:head>

<h:body>
	<h:form>
	<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
	<p:messages closable="true" />
		<p:panel id="panel" header="Agregar Producto" style="width: 400px; height: 600px;">
				<h:panelGrid columns="2" cellpadding="5" style="width: 47px; height: 80px; ">
					
	
				<p:outputLabel for="codi" value="Codigo Barra:" />
				<p:inputText id="codi" value="#{BeanProducto.pro.codigoBarra}"/>
				
				<p:outputLabel for="nombre" value="Nombre:" />
				<p:inputText id="nombre" value="#{BeanProducto.pro.nombre}"/>
			
				<p:outputLabel for="preciocompra" value="Marca:" />
				<p:inputText  id="preciocompra" value="#{BeanProducto.pro.marca}"/>
				
				<p:outputLabel for="precioventa" value="Stock:" />
				<p:inputText id="precioventa" value="#{BeanProducto.pro.stock}"/>
			
				<p:outputLabel for="stock" value="Unidad Medida:" />
				<p:inputText id="stock" value="#{BeanProducto.pro.unidadMedida}"/>
				

				<p:outputLabel value="precio" for="prec"/>
				<p:inputText value="#{BeanProducto.det.precio}" id="prec"/>

			
			
				<p:outputLabel for="Codigocategoria" value="Categoria:" />

				<p:selectOneMenu  id="Codigocategoria"  value="#{BeanProducto.cat.idCategoria}" >
                    
                        <f:selectItems value="#{BeanCategoria.listar()}" var="cat" itemValue="#{cat.idCategoria}" itemLabel="#{cat.nombre}" />
                </p:selectOneMenu> 
								
				<p:commandButton value="Agregar Producto" actionListener="#{BeanProducto.agregarProducto}"  icon="ui-icon-disk" width= "400px" height= "60px"/>
				</h:panelGrid>
		</p:panel>
		

				
	</h:form>
</h:body>
</html>
