<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

<f:loadBundle basename="resources.application" var="msg"/>

<h:head>
    <title>Lista Proveedores</title>
</h:head>

<h:body>

	<h:form>
	<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
	<p:messages closable="true" />
		<p:panel id="panel" header="Lista de Proveedores" >
		
		<h:panelGrid columns="7" cellpadding="5">
			<p:commandButton actionListener="#{BeanProveedor.Listar()}" 
			value="Listar" ajax="true" update=":prov:tablapro"/>
			
			<p:commandButton onclick="PF('dialogoRegistrar').show();" value="Registrar" />	
		</h:panelGrid>
		
		</p:panel>
	</h:form>
	
	<h:form id="prov">	
		
				<p:dataTable id="tablapro" value="#{BeanProveedor.prov}"  var="prove"  style="font-size: 12px;" >
						
   							 <p:column headerText="RUC°">
        					 	<p:outputLabel value="#{prove.ruc}" />
    						 </p:column>
 
    						<p:column headerText="Razon Social">
        						<p:outputLabel value="#{prove.razonSocial}" />
    						</p:column>
 
   					   		<p:column headerText="Ciudad">
        						<p:outputLabel value="#{prove.ciudad}" />
    						</p:column>
 
    						<p:column headerText="Direccion">
        						<p:outputLabel value="#{prove.tblInfoContacto.direccion}" />
    						</p:column>
    						
    						<p:column headerText="Celular">
        						<p:outputLabel value="#{prove.tblInfoContacto.celular}" />
    						</p:column>
    						
    						<p:column headerText="Telefono">
        						<p:outputLabel value="#{prove.tblInfoContacto.telefono}" />
    						</p:column>
    						
    						<p:column headerText="Correo">
        						<p:outputLabel value="#{prove.tblInfoContacto.email}" />
    						</p:column>
    						
    						<p:column headerText="fecha">
				
								<p:calendar value="#{prove.fechaRegistro}" pattern="dd/MM/yyyy HH:mm:ss" locale="en"></p:calendar>
			
	     					</p:column>
	     					
	     					<p:column rendered="#{BeanProveedor.accion}" headerText="Administrador">
	     					<center>
	     						<p:commandLink actionListener="#{BeanProveedor.seleccionarProv(prove)}" onclick="PF('dialogoActualizar').show();" oncomplete="PF('dialogoActualizar').show();"  update="DlgUpdate">
			            		<img src="../imagen/editar.png" style="width: 25px; height: 25px; "/>
				                </p:commandLink>
			                </center>
	     					</p:column>
    						
						</p:dataTable>
	</h:form>
	
	
		<p:dialog  widgetVar="dialogoRegistrar" modal="true" resizable="true" hideEffect="clip" showEffect="Bounce">
		<h:form>
			<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
			<p:messages closable="true" />
			<p:panel id="panel" header="Registrar Proveedor">
			<h:panelGrid columns="2" cellpadding="10">
			
					<p:outputLabel for ="aa" value="Razon Social:"/>
					<p:inputText id = "aa" value="#{BeanProveedor.pro.razonSocial}" required="true"/>
			 		
			 			
					<p:outputLabel for ="bb" value="RUC:"/>
					<p:inputText id = "bb" value="#{BeanProveedor.pro.ruc}" required="true"/>
					
					<p:outputLabel for ="cc" value="Ciudad:"/>
					<p:inputText id = "cc" value="#{BeanProveedor.pro.ciudad}" required="true"/>
					
					<p:outputLabel for ="dd" value="Dirección:"/>
					<p:inputText id = "dd" value="#{BeanProveedor.inf.direccion}" required="true"/>
					
					<p:outputLabel for ="ee" value="Celular:"/>
					<p:inputText id = "ee" value="#{BeanProveedor.inf.celular}" required="true"/>
					
					<p:outputLabel for ="ff" value="Telefono:"/>
					<p:inputText id = "ff" value="#{BeanProveedor.inf.telefono}" required="true"/>
					
					<p:outputLabel for ="gg" value="Correo:"/>
					<p:inputText id = "gg" value="#{BeanProveedor.inf.email}" required="true"/>
			</h:panelGrid>
			
					<center>
						<p:commandButton value="Registrar" actionListener="#{BeanProveedor.Registrar()}" update=":prov:tablapro" 
						oncomplete="PF('dialogoRegistrar').hide();"/>
					</center>	
						
					
			
			 </p:panel>
		</h:form>
		</p:dialog>
		
		
		<p:dialog  widgetVar="dialogoActualizar" modal="true" id="DlgUpdate" resizable="false" hideEffect="clip" showEffect="Bounce"> 
		<h:form>
			<p:growl id="MensajeGeneral" showDetail="true" autoUpdate="true" life="3000" />
			<p:messages closable="true" />
			<p:panel id="panel" header="Actualizar Proveedor" >
			<h:panelGrid columns="2" cellpadding="10">
			
					<p:outputLabel for ="a" value="Razon Social:"/>
					<p:inputText id = "a" value="#{BeanProveedor.pro.razonSocial}" required="true"/>
			 		
			 			
					<p:outputLabel for ="b" value="RUC:"/>
					<p:inputText id = "b" value="#{BeanProveedor.pro.ruc}" required="true"/>
					
					<p:outputLabel for ="c" value="Ciudad:"/>
					<p:inputText id = "c" value="#{BeanProveedor.pro.ciudad}" required="true"/>
					
					<p:outputLabel for ="d" value="Dirección:"/>
					<p:inputText id = "d" value="#{BeanProveedor.pro.tblInfoContacto.direccion}" required="true"/>
					
					<p:outputLabel for ="e" value="Celular:"/>
					<p:inputText id = "e" value="#{BeanProveedor.pro.tblInfoContacto.celular}" required="true"/>
					
					<p:outputLabel for ="f" value="Telefono:"/>
					<p:inputText id = "f" value="#{BeanProveedor.pro.tblInfoContacto.telefono}" required="true"/>
					
					<p:outputLabel for ="g" value="Correo:"/>
					<p:inputText id = "g" value="#{BeanProveedor.pro.tblInfoContacto.email}" required="true"/>
			</h:panelGrid>
			
					<center>
						<p:commandButton value="Actualizar" actionListener="#{BeanProveedor.actualizar()}" update=":prov:tablapro" 
						oncomplete="PF('dialogoActualizar').hide();"/>
					</center>	
						
					
			
			 </p:panel>
		</h:form>
		</p:dialog>
</h:body>
</html>
