<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<p:dialog widgetVar="dlgact" header="Actualizar Proveedor" modal="true" id="dlgu" resizable="false" hideEffect="clip" showEffect="Bounce">
			<p:messages autoUpdate="true"/>
			<h:form id="formact">
			<p:panelGrid columns="2">
				<p:outputLabel for="raz" value="Razon Social:" />
				<p:inputText id="raz" value="#{BeanProveedor.proselected.razonSocial}"   />
				<p:outputLabel for="b" value="RUC:" />
				<p:inputNumber id="b" value="#{BeanProveedor.proselected.ruc}"  decimalPlaces="0" thousandSeparator="" />
				<p:outputLabel for="c" value="Ciudad:" />
				<p:inputText id="c" value="#{BeanProveedor.proselected.ciudadx}"  onkeyup="$(this).val($(this).val().replace(/[^a-zA-Z]/g,''));"/>
				<p:outputLabel for="d" value="Dirección:" />
				<p:inputText id="d" value="#{BeanProveedor.proselected.tblInfoContacto.direccion}"  />
				<p:outputLabel for="e" value="Celular:" />
				<p:inputNumber id="e" value="#{BeanProveedor.proselected.tblInfoContacto.celular}"  thousandSeparator="" decimalPlaces="0" />
				<p:outputLabel for="f" value="Telefono:" />
				<p:inputNumber id="f" value="#{BeanProveedor.proselected.tblInfoContacto.telefono}"  thousandSeparator="" decimalPlaces="0" />
				<p:outputLabel for="g" value="Correo:" />
				<p:inputText id="g" value="#{BeanProveedor.proselected.tblInfoContacto.email}"  />
				</p:panelGrid>
			
				<p:commandButton value="Actualizar" actionListener="#{BeanProveedor.actualizar()}" class="btn btn-danger"  update="@form" />
			
			</h:form>
		</p:dialog>
</ui:composition>
</html>