<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
		<p:dialog widgetVar="dlginfocontacto" id="dlinfo">
			<p:panelGrid columns="2">
				<p:outputLabel value="Celular" />
				<p:outputLabel value="#{BeanProveedor.infselcected.celular}" />
				<p:outputLabel value="Telefono" />
				<p:outputLabel value="#{BeanProveedor.infselcected.telefono}" />
				<p:outputLabel value="Direccion" />
				<p:outputLabel value="#{BeanProveedor.infselcected.direccion}" />
				<p:outputLabel value="E-Mail" />
				<p:outputLabel value="#{BeanProveedor.infselcected.email}" />
			</p:panelGrid>
		</p:dialog>
</ui:composition>
</html>