<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	
		
		
		<p:dialog widgetVar="dialogoRegistrar" header="Registrar Proveedor" modal="true" id="dlgreg" resizable="false" hideEffect="clip" showEffect="Bounce">
			<p:messages autoUpdate="true"/>
			<h:form id="formreg">
			<p:panelGrid columns="2">
				<p:outputLabel for="raz" value="Razon Social:" />
				<p:inputText id="raz" value="#{BeanProveedor.proveedor.razonSocial}"   />
				<p:outputLabel for="b" value="RUC:" />
				<p:inputText id="b" value="#{BeanProveedor.proveedor.ruc}"  onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" maxlength="13"  />
				<p:outputLabel for="c" value="Ciudad:" />
				<p:inputText id="c" value="#{BeanProveedor.proveedor.ciudadx}"  onkeyup="$(this).val($(this).val().replace(/[^a-zA-Z]/g,''));" />
				<p:outputLabel for="d" value="Dirección:" />
				<p:inputText id="d" value="#{BeanProveedor.inf.direccion}"  />
				<p:outputLabel for="e" value="Celular:" />
				<p:inputText id="e" value="#{BeanProveedor.inf.celular}"  onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"  maxlength="9"/>
				<p:outputLabel for="f" value="Telefono:" />
				<p:inputText id="f" value="#{BeanProveedor.inf.telefono}"  onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" maxlength="7" />
				<p:outputLabel for="g" value="Correo:" />
				<p:inputText id="g" value="#{BeanProveedor.inf.email}"  />
				</p:panelGrid>
			
				<p:commandButton value="Registrar" actionListener="#{BeanProveedor.Registrar()}" class="btn btn-danger"  update="@form" type="submit" />
			
			</h:form>
		</p:dialog>
</ui:composition>
</html>