@charset "ISO-8859-1";

.button:hover {
    box-shadow: 0px 0px 0px;
    padding-top: 7px;
}

.button.radius {
    border-radius: 1px;
}

.button.medium {
    width: 150px;
    height: 230px;
}

.button.blue {
    background: #3498db;
    box-shadow: 0px 3px 0px #266792;
}

.button {
    background: #7f8c8d;
    color: #fff;
    display: inline-block;
    font-size: 1.25em;
    margin: 20px;
    padding: 10px 0;
    text-align: center;
    width: 600px;
    hight: 700px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
}
* {
    margin: 0;
    padding: 0;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}