*{
	margin: 0;
	padding:0;
}

.titulo{
	color:#B8BABC;
	font-family: sans-serif;
	font-size: 15px;
	text-decoration: none;
	line-height:50px;
	float: right;
	

}



.a{
	 list-style-type: none;	
	  border: 1px solid #000;
	  width:240px;
	  padding: 10px;
	  margin: 15px;
	 line-height:20px;
	   display: flex;
   justify-content: center;
   align-items: center;
   color: #000;
   background-color: #fff;
}
.b{
	 list-style-type: none;
}
.c{
	 list-style-type: none;
	 align-content:center;
	 margin: 5px;

	

}
.d{
	display: inline-block;
	 list-style-type: none;

}
.e{
	display: inline-block;
	 list-style-type: none;

}
#subtx li{
	position:relative;
	display:inline;
     padding-left:3px;
     padding-right:3px;

}
#subt li{
	display:inline;
     padding-left:3px;
     padding-right:3px;
     
     align-items: center;
}
.tx{
	padding:0px 10px 0px 10px;
	width: 61px;
	height:24px;

	border-radius: 5px;
	
}
.sp{
	margin: 200px;
	
}
.sb{
	margin: 165px;
	
}
.bt color{
 background-color:#989B9C;	
}

.txC{
	background-color:#fff;
	width: 250px;
	height: 15px;
	border-radius:5px; 
	border:none;
	border: 1px solid #444444;
	margin-right:50px;
	padding:5px 
}
a#div_a{
	
	margin-right: 170px; 
	color: #646464;

}
	
.bt_a{
	border-radius:5px;
	margin: 15px;
	padding: 5px;
	background-color: #BEF14A;
}

.bt_a.celeste{
	
	background-color: #29B6F6;
}

.bt_a.verde{
	background-color: #BEF14A;
}
.bt_a.amarillo{
	background-color: #FFF755;
}
.bt_a.maron{
	background-color: #E7F3BB;
}
.bt_a:hover{
	color:#fff;
	background-color: #AFB0AE;
}

.bt:hover {
	
	background-color: #51F178;
	color: black;
	border: none;
	border: 1px solid black;
}
/*BOTONES DE HISTORIA SALIDA DE PORDUCTO*/
.bt.colorVerde{
	background-color:#80DEEA;
	border:1px solid black;
}

/*BOTONES DE OPERACION*/
.btC_agregar_OP{
	background-color:#4FC3F7;
	width: 100px;
	height: 35px;
	border:none;
	border-radius:5px
}

/*COLOR PARA EL BOTON PROVEEDOR AGREGAR - CANCELAR*/

.bt_a.colorCeles{
	background-color:#E7F3BB;
	border: none;
	width: 150px;
	height: 30px;
}

/*COLOR PRA EL BOTON MENU IZQUIERDO*/
.bt_Menu{
	
}
