
*{
	
	box-sizing: border-box;
}
body{
	background-color: black;
}

div#contenedor{
	margin:0 auto;
	background-color:aqua;
	width: 100%;
	max-width:1280px;


	
	
}
header{
	background-color:#3F3F3F;
	width:100%;
	height: 70px;
	display: flex;

	font-family: "Segoe UI";
	font-size: 22px;
	color:#FFFFFF;
}

#HeadSec1{
	display:flex;
	justify-content:center;
	align-items:center;
	width:18%;
	height: 100%;
	background-color: navy;

}


#HeadSec2{
	display:flex;
	justify-content:flex-end;
	align-items:center;
	padding-right:60px;
	width: 76%;
	height: 100%;


}

#HeadSec3{
	display:flex;
	justify-content:center;
	align-items:center;
	width: 6%;
	height: 100%;

}

main{
	
	width:100%;
	display:flex;
	
}


main>aside{
	background-color:#3F3F3F;
	width: 18%; 
	height:562px;
	

}

main>section{
	padding :15px;
	width:82%;
	font-family:sans-serif;
	background-color:#FFFFFF;


}

.titulo{
	color:#B8BABC;
	font-family: sans-serif;
	font-size: 15px;
	text-decoration: none;
	line-height:50px;


}
.I{
	width: 30px;
	padding: 10px;
	float: right;
}
.L{
	width: 150px;
	text-align: center;
	padding: 15px;
}
.bt{
	margin:5px;
	width: 200px;
	height:35px;
	background-color: #fff;
	border: none;
	border-radius: 5px;
}
.bt.color{
 background-color:#989B9C;	
}

.bt:hover {
	color:#fff;
	background-color: green;
}

.a{
	 list-style-type: none;	
	  border: 1px solid #000;
	  width:240px;
	  padding: 10px;
	  margin: 15px;
	 line-height:20px;
	   display: flex;
   justify-content: center;
   align-items: center;
   color: #000;
   background-color: #fff;
}
.b{
	 list-style-type: none;
}
.c{
	 list-style-type: none;
	 align-content:center;
	 margin: 5px;

	

}
.d{
	display: inline-block;
	 list-style-type: none;

}
.e{
	display: inline-block;
	 list-style-type: none;

}
#subtx li{
	position:relative;
	display:inline;
     padding-left:3px;
     padding-right:3px;

}
#subt li{
	display:inline;
     padding-left:3px;
     padding-right:3px;
     
     align-items: center;
}
.tx{
	padding:0px 10px 0px 10px;
	width: 61px;
	height:24px;

	border-radius: 5px;
	
}
.sp{
	margin: 200px;
	
}
.sb{
	margin: 165px;
	
}
.bt color{
 background-color:#989B9C;	
}
div#tt{
	position: relative;
	top: -45px;
}

div#colorplomo
{
	background-color: blue;
	width: 70%;
	heigth: 10px;
	
}
