<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<p:dialog widgetVar="dialogoRegistrar" id="regidlg" modal="true" header="Registrar Entrada de Productos" resizable="false" hideEffect="clip" showEffect="Bounce" maximizable="true" minimizable="true">
		<h:form id="add1">
			<p:messages />
		
			<p:panel id="panel" header="Registrar Entrada de Producto">
				<h:panelGrid columns="2">
					<p:outputLabel for="prod" value="Producto" />
					<p:column>
						<p:autoComplete id="prod" value="#{BeanDetalleEntradaProducto.detEntPro.tblProducto}" completeMethod="#{BeanProducto.BU}" var="pro" itemLabel="#{pro.nombre}" itemValue="#{pro}" converter="ProductoConverter" placeholder="Buscar producto 'nombre' " required="true" requiredMessage="Debe especificar el producto">
							<p:column style="width:40%">
								#{pro.nombre} - #{pro.codigoBarra}
								</p:column>
						</p:autoComplete>
					</p:column>
					<p:outputLabel for="c" value="Cantidad:" />
					<p:inputNumber id="c" value="#{BeanDetalleEntradaProducto.detEntPro.cantidad}" required="true" requiredMessage="Debe especificar la cantidad" thousandSeparator="" />
				</h:panelGrid>
			</p:panel>
			<p:commandButton value="Agregar Detalle" actionListener="#{BeanDetalleEntradaProducto.addEntPro()}" styleClass="btn btn-primary" update="@form,dtab1" />
		</h:form>
		
		
		
		<p:panel header="Detalle de Entrada">
			<p:dataTable id="dtab1" value="#{BeanDetalleEntradaProducto.listaDetEntPro}" var="dett" scrollable="true" scrollHeight="200">
				<p:column headerText="Producto">
					<p:outputLabel value="#{dett.tblProducto.nombre}" />
				</p:column>
				<p:column headerText="Cantidad">
					<p:outputLabel value="#{dett.cantidad}" />
				</p:column>
				<p:column headerText="Accion">
				
					<p:commandButton  value="Quitar" actionListener="#{BeanDetalleEntradaProducto.delet(dett)}" update="dtab1" />
				
				</p:column>
			</p:dataTable>
		</p:panel>
		
		
		<h:form id="sendfr">
			<p:outputLabel for="a" value="Empleado:" />
			<p:selectOneMenu id="a" value="#{BeanDetalleEntradaProducto.emp.idEmpleado}" required="true" requiredMessage="Debe seleccionar un Empleado">
				<f:selectItem itemLabel="Seleccione un Empleado" itemValue="" />
				<f:selectItems value="#{BeanDetalleEntradaProducto.listaEmpleadoo}" var="emp" itemValue="#{emp.idEmpleado}" itemLabel="#{emp.tblpersona.nombre}" />
			</p:selectOneMenu>
			<p:commandButton value="Registrar Entrada" actionListener="#{BeanDetalleEntradaProducto.RegistrarEntrada()}" styleClass="btn btn-primary" update="add1,dtab1,sendfr,salPro1"/>
		</h:form>
	</p:dialog>
</ui:composition>
</html>