$ColorPrimario:#2584d6
$ColorSecundario:#1d1b1b
$HeaderText: #EAE6DE
*
	box-sizing: border-box
	margin:0
	padding:0

body
	background-color:#000000
	font-family:"Segoe UI"
	

.container
	width: 100%
	padding:0
	


header
	width: 100%
	display: flex
	height: 71px
	
	#h1
		width: 100%
		max-width:280px
		min-width:280px
		height: 100%
		background-color:#FFFFFF
		display: flex
		justify-content: center
		align-items: center
		#h1img
			height: 100%
	#h2
		width: 100%
		height: 100%
		// font-family: "Segoe UI"
		font-size: 30px
		//esto deberia borrarse?
		background-color: $ColorPrimario
		color: $HeaderText
		display: flex
		justify-content: center
		align-items: center	
	#h3
		width: 100%
		max-width:78px
		height:100%
		background-color: $ColorSecundario
		display: flex
		justify-content: center
		align-items: center
		#userlog
			height: 75%
			border-radius: 50%
main
	width:100%
	display: flex
	section
		padding:15px 15px
		background-color:#FFFFFF
		width: 100%
		display: flex
		justify-content: center
	aside
		
		max-width:280px
		min-width:280px
		background: #1D1B1B
	.menu
		.activado>a
		
			background-color: #222D32
			border-color: #3C8DBC
			border-left: solid
		li
			list-style: none
			flex-direction: column
			display: flex
			flex-wrap: wrap
			ul
				display: none
				.menuitem
					&:hover
						color: #FFFFFF
			a
				display: flex
				text-decoration: none
				color: #89A3AE
				// font-family: "Segoe UI";
				font-size:15px
				align-items: center
			.menusup
				background-color:#222D32
				color: #FFFFFF
				padding:15px 20px
				display: flex
				justify-content: space-between
				align-items: center
				&:hover
					background-color:#1E282C

					
				span
					display: flex
					align-items: center
				.iconosidebleft
					margin-right: 10px
				.iconosideb
					margin-right: 14px	
			.menuitem
				background-color: #2C3B41
				padding:6px 28px
				i
					margin-right: 2px	
			#asidetitle
				padding: 13px 15px
				color: #314E57
				// font-family:"Segoe UI"
				font-size: 15px				
			

		
.panel
	width: 100%
	flex-wrap: nowrap




.panelheader, .panelbody
	width: 100%
	background-color:#FFFFFF
	border-radius: 2px
	border-style: solid
	border-color: #D2D6DE
	


.panelheader
	display: flex
	height: 45px
	border-width: 4px 1px 1px 1px
	padding-left: 15px
	padding-right: 10px
	align-items: center
	font-size: 20px
	color: #4C473F
	justify-content: space-between



.panelbody
	padding: 10px
	border-width: 0 1px 1px 1px

td[role="gridcell"]
	text-align: center!important

.btnAdmin
	display: flex
	justify-content: center
	align-items: center	

.btn-icon
	display: flex
	align-items: center
	justify-content: center

.ui-messages>div
	font-size:11px
	padding:5px
	margin:0px
	margin-top: 5px
	margin-bottom: 5px
