* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  font-family: "Segoe UI";
}

header {
  width: 100%;
  display: flex;
  height: 61px;
}
header #h1 {
  width: 21.875%;
  height: 100%;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #h1 #h1img {
  height: 90%;
}
header #h2 {
  width: 72.03125%;
  height: 100%;
  font-size: 30px;
  background-color: #404040;
  color: #EAE6DE;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #h3 {
  width: 6.09375%;
  height: 100%;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #h3 #userlog {
  height: 90%;
  border-radius: 50%;
}

main {
  width: 100%;
  display: flex;
}
main section {
  padding: 15px 15px;
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: center;
}

aside {
  width: 21.875%;
  background: #1D1B1B;
}
aside .menu .activado > a {
  background-color: #222D32;
  border-color: #3C8DBC;
  border-left: solid;
}
aside .menu li {
  list-style: none;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}
aside .menu li ul {
  display: none;
}
aside .menu li ul .menuitem:hover {
  color: #FFFFFF;
}
aside .menu li a {
  display: flex;
  text-decoration: none;
  color: #89A3AE;
  font-size: 15px;
  align-items: center;
}
aside .menu li .menusup {
  background-color: #222D32;
  color: #FFFFFF;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
aside .menu li .menusup:hover {
  background-color: #1E282C;
}
aside .menu li .menusup span {
  display: flex;
  align-items: center;
}
aside .menu li .menusup .iconosidebleft {
  margin-right: 10px;
}
aside .menu li .menusup .iconosideb {
  margin-right: 14px;
}
aside .menu li .menuitem {
  background-color: #2C3B41;
  padding: 6px 28px;
}
aside .menu li .menuitem i {
  margin-right: 2px;
}
aside .menu li #asidetitle {
  padding: 13px 15px;
  color: #314E57;
  font-size: 15px;
}

/*# sourceMappingURL=estilossass.css.map */
