* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  font-family: "Segoe UI";
}

.container {
  width: 100%;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  height: 71px;


}
header #h1 {
  width: 100%;
  max-width: 280px;
  min-width: 280px;
  height: 100%;
  background-color:#222D32;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
header #h1 #h1img {
  height: 100%;
  

}
header #h2 {
  width: 100%;
  height: 100%;
  font-size:15px;
  background-color:#222D32;
  color: #EAE6DE;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #h3 {

  max-width: 78px;
   height: 100%;
  background-color:#222D32;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
header #h3 #userlog {
  height: 75%;
  border-radius: 50%;
}

main {
  width: 100%;
  display: flex;
 
}
main section {
  padding: 15px 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
main aside {
  max-width: 280px;
  min-width: 280px;
  background-color: #222D32;
  height: 100vh;

}
main .menu .activado > a {
  background-color: #222D32;
  border-color: black;
  border-left: solid;
}
main .menu li {
  list-style: none;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}
main .menu li ul {
  display: none;
}
main .menu li ul .menuitem:hover {
  color: #FFFFFF;
}
main .menu li a {
  display: flex;
  text-decoration: none;
  color: #89A3AE;
  font-size: 15px;
  align-items: center;
}
main .menu li .menusup {
  background-color: #222D32;
  color: #FFFFFF;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .menu li .menusup:hover {
  background-color: #1E282C;
}
main .menu li .menusup span {
  display: flex;
  align-items: center;
}
main .menu li .menusup .iconosidebleft {
  margin-right: 10px;
}
main .menu li .menusup .iconosideb {
  margin-right: 14px;
}
main .menu li .menuitem {
  background-color: #2C3B41;
  padding: 6px 28px;
}
main .menu li .menuitem i {
  margin-right: 2px;
}
main .menu li #asidetitle {
  padding: 13px 15px;
  color: #314E57;
  font-size: 15px;
}

.panel {
  width: 100%;
  flex-wrap: nowrap;
}

.panelheader, .panelbody {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 2px;
  border-style: solid;
  border-color: #D2D6DE;
}

.panelheader {
  display: flex;
  height: 45px;
  border-width: 4px 1px 1px 1px;
  padding-left: 15px;
  padding-right: 10px;
  align-items: center;
  font-size: 20px;
  color: #4C473F;
  justify-content: space-between;
}

.panelbody {
  padding: 10px;
  border-width: 0 1px 1px 1px;
}

td[role=gridcell] {
  text-align: center !important;
}

.btnAdmin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}


.ui-messages > div {
  font-size: 11px;
  padding: 5px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*# sourceMappingURL=estilos.css.map */
