*
{
	padding:0;
	margin: 0;
	-webkit-box-sizing:border-box ;
	-moz-box-sizing:border-box ;
	box-sizing:border-box ;

}
body
{
    font-family: sans-serif;
    
}
.menu_bar
{
	display: none;
    
}
header .men_
{
    background-color:rgba(34,45,50,.8);
    width: 100%;

    height: 9px
}
header
{
	width: 100%;

    
    
}
header nav
{
	background-color:#3190B3;
	z-index: 1000;
	max-width: 3000px;
	width: 100%;
	margin: 15px auto;
    
    
   

}
header nav ul
{
	list-style: none;
}
.inicio
{
	display: inline-block;
	position: relative;
}

.inicio :hover
{ 
	 background-color:#fff;
	 color: #222D32;
	 border-radius: 10px;
}
.titulo{
color: #fff;
display: inline-block;http://localhost:8081/gasparcorps/faces/plantilla/plantilla-corp.xhtml#
align-content: center;
align-items: center;
align-self: center;
font-size:16px;
margin-left:23%;

}
.imgUsera{
display: inline-block;
align-content: center;
align-items: center;
align-self: center;

}
header nav ul li a
{
	color: #fff;
	display: block;
	text-decoration: none;
	padding: 10px;
	font-size: 17px;
	
}

header nav ul li a span
{
	margin-right: 10px;
}
header nav ul li :hover .children
{
	display: block;
}
header nav ul li .children
{
	display: none;
	background:#4483a4;
	position: absolute;
	width: 250%;
	z-index: 1000;
}
header nav ul li .children li
{
	display: block;
	overflow: hidden;
	border-bottom: 1px solid rgba(250,250,250,.5);
}
header nav ul li .children li a
{
	display: block;
}
header nav ul li .children li a span
{
	float: right;
	position: relative;
	top: 3px;
	margin-right: 0px;
	margin-left: 10px;
}
header nav ul li .i
{
	position: relative; 
	top: 1.5px;
	margin-left: 10px;
	margin-right: 0px;
}
@media screen and (max-width: 800px)
{
	body
	{
		padding-top: 80px;
	}
	.menu_bar
	{

		display: block;
		width: 100%;
		position: fixed;
		top:0%;
		background:#3190B3;
	}
	.menu_bar .bt-menu
	{
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
	.menu_bar span
	{
		float: right;
		font-size: 40px;
	}
	header nav
	{
		width:80%;
		height: calc(100% - 80px);
		position: fixed;
		right: 100%;
		margin:0;
		overflow: scroll;
	}
	header nav ul li 
	{
		display: block;
		border-bottom: 1px solid rgba(255,255,255,.5);
	}
	header nav ul li a
	{
		display: block;
	}

	header nav ul li :hover .children
	{
		display: none;
	}
	header nav ul li .children
	{
		width: 100%;

		position: relative;
	}

	header nav ul li a .children
	{
		margin-left: 20px;

	}
	header nav ul li a .i
	{
		float: right;
	}
}


/*-------------ESTILO PARA EL MENI IZQUIERDO----------------*/
