
/*ESTILOS DEL BODY E IMAGEN DE FONDO*/
body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;

	background-image: url(I.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #66999;
}

/*ESTILOS DE LA IMAGEN DE LOGIN*/
/*ESTILO DE DIV DE FONDO SOMBREADO*/
.fondo{
	background-color: transparent;
	width: 100%;
	height:55%;
	margin:0px;
	padding: 5px;

}
/*ESTILO DE IMGEN LOGIN*/


.imgLogin{
	width:14%;
	margin:5px auto;
	display:block;
	border-radius: 100%;
	
}

/*ESTILOS D BIENVENIDA*/



.TB{
	text-align:center;
	font-size:4vw;
	font-family: Oswald, Arial;
	color: #fff;
	margin-left: 30% ;
	margin-right:30%;
	
	}
/*TXT */
.txt{
	margin-left: 30%;
	margin-right: 30%;
}

/*SUB*/
.sub{
	background-color: rgba(3,22,35, .9);
	border-radius:5px;
	padding: 15px;
	
}
.subpagina{
	background-color: rgba(3,22,35, .9);
	padding: 15px;
	margin: 5px;
	
}

/*111111111111111111111111111111111111111111111111111111111111111*/

@media screen and (min-width: 850px) and (max-width: 900px){
/*ESTILO DE DIV DE FONDO SOMBREADO*/
.fondo{
	background-color: transparent;
	width: 100%;
	height:60%;
	margin:0px;
	padding: 5px;

}
/*ESTILO DE IMGEN LOGIN*/

.imgLogin{
	width:35%;
	margin:5px auto;
	display:block
	
}

/*ESTILOS D BIENVENIDA*/



.TB{
	text-align:center;
	font-size:6vw;
	font-family: Oswald, Arial;
	color: #fff;
	margin-left: 15% ;
	margin-right:15%;
	
	}
/*TXT */
.txt{
	margin-left: 15%;
	margin-right: 15%;
}

/*SUB*/
.sub{
	background-color: rgba(3,22,35, .9);
	border-radius:5px;
	padding: 15px;
	
}
.subpagina{
	background-color: rgba(3,22,35, .9);
	padding: 15px;
	margin: 5px;
	
}


}


/*222222222222222222222222222222222222222222222222222222222222222222*/
@media screen and (min-width: 590px) and (max-width: 850px){
/*ESTILO DE DIV DE FONDO SOMBREADO*/
.fondo{
	background-color: transparent;
	width: 100%;
	height:50%;
	margin:0px;
	padding: 5px;

}
/*ESTILO DE IMGEN LOGIN*/

.imgLogin{
	width:40%;
	margin:5px auto;
	display:block;
	border-radius: 100%;
	
}

/*ESTILOS D BIENVENIDA*/



.TB{
	text-align:center;
	font-size:7vw;
	font-family: Oswald, Arial;
	color: #fff;
	margin-left: 15% ;
	margin-right:15%;
	
	}
/*TXT */
.txt{
	margin-left: 15%;
	margin-right: 15%;
}

/*SUB*/
.sub{
	background-color: rgba(3,22,35, .9);
	border-radius:5px;
	padding: 15px;
	
}
.subpagina{
	background-color: rgba(3,22,35, .9);
	padding: 15px;
	margin: 5px;
	
}

}
/*33333333333333333333333333333333333333333333333333333333333333333333*/

@media screen and (max-width: 590px){
/*ESTILO DE DIV DE FONDO SOMBREADO*/
.fondo{
	background-color: transparent;
	width: 100%;
	height:50%;
	margin:0px;
	padding: 5px;

}
/*ESTILO DE IMGEN LOGIN*/

.imgLogin{
	width:60%;
	margin:5px auto;
	display:block;
	border-radius: 100%;
	
}

/*ESTILOS D BIENVENIDA*/



.TB{
	text-align:center;
	font-size:7vw;
	font-family: Oswald, Arial;
	color: #fff;
	margin-left: 1% ;
	margin-right:1%;
	
	}
/*TXT */
.txt{
	margin-left: 1%;
	margin-right: 1%;
}

/*SUB*/
.sub{
	background-color: rgba(3,22,35, .9);
	border-radius:5px;
	padding: 15px;
	
}
.subpagina{
	background-color: rgba(3,22,35, .9);
	padding: 15px;
	margin: 5px;
	
}

}

/*444444444444444444444444444444444444444444444444444444444444444444444*/

@media screen and (max-width: 240px){
/*ESTILO DE DIV DE FONDO SOMBREADO*/
.fondo{
	background-color: transparent;
	width: 100%;
	height:50%;
	margin:0px;
	padding: 5px;

}
/*ESTILO DE IMGEN LOGIN*/

.imgLogin{
	width:100%;
	margin:5px auto;
	display:block
	
}
/*ESTILOS D BIENVENIDA*/



.TB{
	text-align:center;
	font-size:10vw;
	font-family: Oswald, Arial;
	color: #fff;
	margin-left: 1% ;
	margin-right:1%;
	
	}
/*TXT */
.txt{
	margin-left: 1%;
	margin-right: 1%;
}

/*SUB*/
.sub{
	background-color: rgba(3,22,35, .9);
	border-radius:5px;
	padding: 15px;
	
}
.subpagina{
	background-color: rgba(3,22,35, .9);
	padding: 15px;
	margin: 5px;
	
}
}