<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      lang="es"> 

<h:head>
	<title>Contructora</title>
	
	<meta charset="UTF-8"></meta>
	
	<link rel="icon" type="image/png" href="imagen/ico.png" />
	
	<meta name="viewport" content="width=device-width"></meta>
	
	<link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet"></link>
	
	<link rel="stylesheet" type="text/css" href="stilos.css"></link>

	<script type="text/javascript" src="Estilos/bar.js"></script>
	
	
	<h:outputStylesheet library="css" name="stilos.css" />
	
	<h:outputStylesheet library="css" name="movil.css" />
	
</h:head> 
<body> 



<!-- CABEZA-DEFAUL -->
<header class="encabezado">
<div class="subEncabezado">
<h:form>  
 
<div align="right" style="float: right;">
 <p:commandButton id="dynaButton" icon="fa fa-users" style="background-color:transparent;color:#063737;border:none" title="Usuario"/>
 <p:menu overlay="true" trigger="dynaButton" my="left top" at="left bottom">
 
               
                <p:menuitem value="Usuarios" url="../paginas/ListaUsuario.xhtml" icon="fa fa-user-plus" style="color: #184656;font-family: 'Istok Web', sans-serif;" ajax="false"></p:menuitem>
                <p:separator />
                <p:menuitem value="Salir" url="https://www.google.com" style="color: #184656;font-family: 'Istok Web', sans-serif;" icon="fa fa-sign-out" ajax="false"></p:menuitem>
         
 </p:menu>
</div>

 
 <p:menubar  style="background: #009D9D; width: 550px; height: 30px; border:none;">
                           
            
            <p:menuitem  url="../paginas/PantallaInicio.xhtml" title="Menu Principal" icon="fa fa-home"  style="color: #063737; float: right;font-family: 'Istok Web', sans-serif;" ajax="false" ></p:menuitem>
            
            
            <p:submenu label="Producto" icon="fa fa-cube">
                <p:menuitem value="Info de Producto" url="../paginas/ListarProductos.xhtml" icon="fa fa-info-circle" />
                <p:separator />
                <p:menuitem value="Categoria" url="../paginas/ListaCategoria.xhtml" icon="fa fa-line-chart"/>
            </p:submenu>
            
            <p:menuitem value="Proveedor" icon="fa fa-truck" url="../paginas/ListarProveedor.xhtml" style="color: #063737;font-family: 'Istok Web', sans-serif;" ajax="false"></p:menuitem>
            
            <p:submenu label="Empleado" icon="fa fa-child">
                <p:menuitem value="Nuevo Empleado" url="../paginas/RegistrarEmpleado.xhtml" icon="fa fa-user-plus" />
                <p:separator />
                <p:menuitem value="Cargo" url="../paginas/ListarCargo.xhtml" icon="fa fa-plus-square"/>
            </p:submenu>
            
            <p:menuitem value="Historial Salidas" icon="fa fa-tags" url="../paginas/SalidasProductos.xhtml" style="color: #063737;font-family: 'Istok Web', sans-serif;"></p:menuitem>
           
        </p:menubar>    
</h:form>

</div>

<div class="menuSub" align="center">
<h:form>
  <p:commandButton id="dynaButton"  icon="fa fa-bars" styleClass="btn  btn-flat" style="font-family: 'Istok Web', sans-serif;background-color:#146C6C;color:#fff;border:none;width: 100%; " title="Menu"/>
     <p:menu overlay="true" trigger="dynaButton" my="left top" at="left bottom" style="width:100%;box-sizing: border-box;align-content: center;align-items: center;align-self: center;">
			
			 <p:menuitem value="Inicio" url="../paginas/PantallaInicio.xhtml"  icon="fa fa-home" style="color: #146C6C;font-family: 'Istok Web', sans-serif;" ajax="false"></p:menuitem>
     
             <p:menuitem value="Nuevo Usuarios" url="../paginas/ListaUsuario.xhtml" icon="fa fa-user-plus" style="color: #146C6C;font-family: 'Istok Web', sans-serif;" ajax="false"></p:menuitem>
               
             <p:menuitem value="Info Producto" url="../paginas/ListarProductos.xhtml" icon="fa fa-info-circle" styleClass="" style="color: #146C6C;font-family: 'Istok Web', sans-serif;"></p:menuitem>
              
            <p:menuitem value="Categorias" icon="fa fa-line-chart" url="../paginas/ListaCategoria.xhtml" style="color: #146C6C;font-family: 'Istok Web', sans-serif;" ajax="false"></p:menuitem>
            
            <p:menuitem value="Proveedor" icon="fa fa-truck" url="../paginas/ListarProveedor.xhtml" style="color: #146C6C;font-family: 'Istok Web', sans-serif;"></p:menuitem>
            
            <p:menuitem value="Nuevo Empleado" icon="fa fa-user-plus" url="../paginas/RegistrarEmpleado.xhtml" style="color: #146C6C;font-family: 'Istok Web', sans-serif;"></p:menuitem>
            
            <p:menuitem value="cargo" url="../paginas/ListarCargo.xhtml" style="color: #146C6C;font-family: 'Istok Web', sans-serif;" icon="fa fa-plus-square" ajax="false"></p:menuitem>
           
           	<p:menuitem value="Historial Salida" url="../paginas/SalidasProductos.xhtml" style="color: #146C6C;font-family: 'Istok Web', sans-serif;" icon="fa fa-tags" ajax="false"></p:menuitem>
         	
         	<p:separator />
         	<p:menuitem value="Cerrar Sesion" url="https://www.google.com" style="color: #146C6C;font-family: 'Istok Web', sans-serif;" icon="fa fa-sign-out" ajax="false"></p:menuitem>
        	 
           
        
    </p:menu>
    </h:form>
</div>
</header>

<!-- CONTENIDO-MODIFICABLE -->
	<section class="contenido">
	
		<article class="post" >
			<ui:insert name="contenido_A" >
				HOLA 
			</ui:insert>
		</article>
		
	</section>
	
<!-- CONTENIDO-MODIFICABLE -->	
	<footer class="pie-pagina">
		<ui:insert name="contenido_D">
					<a style="font-family: 'Istok Web', sans-serif;color:#fff;">Contructora Corps</a>
		</ui:insert>
	</footer>
	
	
</body> 
</html>
