<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>JSF 2.2</title>
	<h:outputStylesheet library="css" name="estilos.css" />

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<h:outputScript library="primefaces" name="jquery/jquery.js" />


	<h:outputScript library="js" name="scripts.js"/>
</h:head>
<h:body>
	<div class="container" >

		<header class="header" >
		<div id="h1">
			<p:graphicImage id="h1img" library="imagenes"	name="LogoGaspar-Constructora.png"/>
		</div>
<!-- 		<div class="dynamic"> -->
			<div  id="h2">
			
				BIENVENIDO //\\ SISTEMA CONTROL DE INVENTARIO
	
			</div>
	
			<div id="h3">
					<p:graphicImage id="userlog" library="imagenes" name="user.png" style="" />
<!-- 			</div> -->
		</div>
		</header>

		<main> <aside> 
		
			
		
		

	<ul class="menu">
		<li><a href="PantallaInicio.xhtml" id="btninicio" class="menusup">Inicio <i class="fa fa-home"></i></a></li>
<!-- 		<li><a href="enProceso.xhtml" id="btninicio" class="menusup">Operaciones<i class="fa fa-laptop"></i></a></li> -->
	
	<li >

		<a href="#" id="li"  class="menusup"><span> Producto</span><i class="fa fa-shopping-cart"></i></a>
		<ul>
			<li><a href="ListarProductos.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-info-circle"></i></span>Informacion de Producto</a></li>
			
			<li><a href="../paginas/ListaCategoria.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-line-chart"></i></span>Categoria</a></li>
			
<!-- 			<li><a href="enProceso.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-line-chart"></i></span>Stock</a></li> -->
		</ul>
	</li>
	
				
	<li >

		<a href="#" id="li"  class="menusup"><span>Proveedor</span><i class="fa fa-cubes"></i></a>
		<ul>
			<li><a href="../paginas/ListarProveedor.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-plus-square"></i></span>Registrar Proveedor</a></li>
		</ul>
	</li>
	
	<li >

		<a href="#" id="li"  class="menusup"><span>Empleado</span><i class="fa fa-group"></i></a>
		<ul>
			<li><a href="RegistrarEmpleado.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-plus-square"></i></span>Empleado</a></li>
			<li><a href="../paginas/ListarCargo.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-plus-square"></i></span>Cargo</a></li>
		
		</ul>
	</li>
	

	<li >

		<a href="#" id="li"  class="menusup"><span>Usuario</span><i class="fa fa-user"></i></a>
		<ul>
		
			<li><a href="ListaUsuario.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-info-circle"></i></span>Informacion de Usuario</a></li>
		</ul>
	</li>


	<li >

		<a href="#" id="li"  class="menusup"><span>Salida</span><i class="fa fa-truck "></i></a>
		<ul>
			<li><a href="SalidasProductos.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-folder-open-o"></i></span>Historial de Salida  </a></li>
		</ul>
	</li>
	
<!-- 		<li > -->

<!-- 		<a href="#" id="li"  class="menusup"><span>Entrada</span><i class="fa fa-truck "></i></a> -->
<!-- 		<ul> -->
<!-- 			<li><a href="../paginas/enProceso.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-folder-open-o"></i></span>Historial de Entrada  </a></li> -->
<!-- 		</ul> -->
<!-- 	</li> -->
	
<!-- 	<li > -->

<!-- 		<a href="#" id="li"  class="menusup"><span>Reportes</span><i class="fa fa-file-text-o"></i></a> -->
<!-- 		<ul> -->
			
<!-- 			<li><a href="consultas_reporte.xhtml" class="menuitem"><span style="margin-right: 5px;"><i class="fa fa-info-circle"></i></span>Consultar Reporte</a></li> -->
<!-- 		</ul> -->
<!-- 	</li> -->
	
	
	
	<li >
		<a href="#" id="li"  class="menusup"><span>Usuario</span><i class="fa fa-file-text-o"></i></a>
		<ul>		
			<li><h:commandLink action="#{BeanUsuario.CerrarSession}" class="menuitem" value="Salir Sistema"></h:commandLink><span style="margin-right: 5px;"><i class="fa fa-info-circle"></i></span></li>
		</ul>
	</li>
	

	</ul>

		 
		 </aside>
		
			<section>
				<ui:insert name="contenido">
				adipisicing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
				exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit
				esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit
				anim id est laborum.
				</ui:insert>
			</section>
		
		
		
		 </main>
	</div>


</h:body>
</html>
