<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>



<p:dialog widgetVar="UpdateDialog" id="DlgUpdate"  header="Actualizar Producto"  modal="true" hideEffect="clip" showEffect="Bounce"  resizable="false" >
											
											
											
											
												<p:messages id="asdasd" autoUpdate="true"/>
												
												<h:form id="actform">
														<p:panelGrid columns="2" >
															
														<p:outputLabel for="codi" value="Codigo Barra:" />
														<p:inputText id="codi" value="#{BeanProducto.detact.tblProducto.codigoBarra}" onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" maxlength="13"/>
														
														<p:outputLabel for="nombre" value="Nombre:" />
														<p:inputText id="nombre" value="#{BeanProducto.detact.tblProducto.nombre}" />
													
														<p:outputLabel value="Marca:" for="preciocompra" />
														<p:inputText  id="preciocompra" value="#{BeanProducto.detact.tblProducto.marca}" />
														
														<p:outputLabel  value="Stock:" for="precioventa" />
														<p:inputNumber id="precioventa" value="#{BeanProducto.detact.tblProducto.stock}"  thousandSeparator=""/>
													
														<p:outputLabel value="Unidad Medida:" for="stock" />
														<p:inputText id="stock" value="#{BeanProducto.detact.tblProducto.unidadMedida}"  onkeyup="$(this).val($(this).val().replace(/[^a-zA-Z]/g,''));"/>
										
														<p:outputLabel value="Precio Actual" for="prec" />
														<p:inputNumber value="#{BeanProducto.detact.precio}" id="prec" readonly="true" />
														
														<p:outputLabel value="Nuevo Precio" for="nprec" />
														<p:inputNumber value="#{BeanProducto.NPrecio}" id="nprec" required="true" requiredMessage="*El campo de NuevoPrecio es requerido"/>
													<p:outputLabel for="Codigocategoria" value="Categoria:"   />
															<p:selectOneMenu  id="Codigocategoria"  value="#{BeanProducto.cat.idCategoria}" required="true" requiredMessage="Debe seleccionar una categoria" >
																<f:selectItem itemLabel="Select One" itemValue="" />
																<f:selectItems value="#{BeanCategoria.listar()}" var="cat" itemValue="#{cat.idCategoria}" itemLabel="#{cat.nombre}" />
											                </p:selectOneMenu> 
																		
														</p:panelGrid>
														
															
															<p:commandButton value="Aceptar" actionListener="#{BeanProducto.ActualizarProducto()}"   styleClass="btn btn-primary" update="@form" type="submit"/>
															
														
											
														</h:form>
											
										
											</p:dialog>	


</ui:composition>
</html>