<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<p:dialog widgetVar="ProvvDlg" id="prprdlg" modal="true" header="Proveedores del producto " hideEffect="clip" showEffect="Bounce" resizable="false">
		<p:messages id="asads" autoUpdate="true" />
		<h:form id="ProvproForm">
<p:dataTable value="#{BeanProducto.selectedProviders}" var="prov" id="TblProductoProveedor" paginator="true" paginatorPosition="top" rows="5" rowsPerPageTemplate="3,5,8,10,15" reflow="true">
				<p:column headerText="RazSocial">
				<p:outputLabel value="#{prov.razonSocial}"/>
				</p:column>
				
				<p:column headerText="RUC">
				<p:outputLabel value="#{prov.ruc}"/>
				</p:column>
				
				<p:column headerText="Ciudad">
				<p:outputLabel value="#{prov.ciudadx}"/>
				</p:column>
				
				
				<p:column headerText="Celular">
				<p:outputLabel value="#{prov.tblInfoContacto.celular}"/>
				</p:column>
				
				
				<p:column headerText="Telefono">
				<p:outputLabel value="#{prov.tblInfoContacto.telefono}"/>
				</p:column>
				
				
				
				<p:column headerText="E-Mail">
				<p:outputLabel value="#{prov.tblInfoContacto.email}"/>
				</p:column>
				
				<p:column headerText="Direccion">
				<p:outputLabel value="#{prov.tblInfoContacto.direccion}"/>
				</p:column>
				
				</p:dataTable>
			
		</h:form>
	</p:dialog>
</ui:composition>
</html>