<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<p:dialog widgetVar="rprod" header="Registrar Producto" modal="true"
		hideEffect="clip" showEffect="Bounce" resizable="false"
		responsive="true" minimizable="true" maximizable="true">

		<p:messages id="msgreg" autoUpdate="true" />

		<h:form id="rrrform">

			<p:panelGrid>
				<p:row>
					<p:column>
						<p:outputLabel for="codi" value="Codigo Barra:" />
					</p:column>
					<p:column>
						<p:inputText id="codi" value="#{BeanProducto.pro.codigoBarra}"
							onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
							maxlength="13" />
					</p:column>
				</p:row>


				<p:row>
					<p:column>
						<p:outputLabel for="nombre" value="Nombre:" />
					</p:column>
					<p:column>
						<p:inputText id="nombre" value="#{BeanProducto.pro.nombre}" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:outputLabel for="preciocompra" value="Marca:" />
					</p:column>
					<p:column>
						<p:inputText id="preciocompra" value="#{BeanProducto.pro.marca}" />
					</p:column>
				</p:row>
				
				<p:row>
				<p:column>
				<p:outputLabel for="precioventa" value="Stock"/>
				</p:column>
				
				<p:column>
				<p:inputNumber id="precioventa" value="#{BeanProducto.pro.stock}" thousandSeparator="" />
				
				</p:column>
				</p:row>

		<p:row>
				<p:column>
				<p:outputLabel for="stock" value="Unidad Medida:" />
						
				</p:column>
				
				<p:column>
				<p:inputText id="stock" value="#{BeanProducto.pro.unidadMedida}" onkeyup="$(this).val($(this).val().replace(/[^a-zA-Z]/g,''));" />
				
				</p:column>
				</p:row>


		<p:row>
				<p:column>
				<p:outputLabel for="precio" value="Precio" />
						
				</p:column>
				
				<p:column>
				<p:inputNumber id="precio" value="#{BeanProducto.det.precio}" />
				
				</p:column>
				</p:row>


		<p:row>
				<p:column>
				<p:outputLabel for="Codigocategoria" value="Categoria:" />
				
				</p:column>
				
				<p:column>
				<p:selectOneMenu id="Codigocategoria" value="#{BeanProducto.cat.idCategoria}"  required="true" requiredMessage="Debe seleccionar una categoria">
							<f:selectItem itemLabel="Seleccione una categoria" itemValue="" />
							<f:selectItems value="#{BeanCategoria.listar()}" var="cat" itemValue="#{cat.idCategoria}" itemLabel="#{cat.nombre}"  />
						</p:selectOneMenu>
						
				</p:column>
				</p:row>




<p:row>

<p:column>
<p:outputLabel value="Proveedor(es)" for="prod"/>
</p:column>

<p:column>

<p:autoComplete  id="prod" value="#{BeanProducto.provs}" completeMethod="#{BeanProducto.BU2}" var="prov" itemLabel="#{prov.razonSocial}" itemValue="#{prov}" converter="ProveedorConverter" placeholder="RazSocial" multiple="true" required="true" requiredMessage="Debe seleccionar almenos 1 proveedor">
							<p:column style="width:40%">
								#{prov.razonSocial} - #{prov.ciudadx}
								</p:column>
						</p:autoComplete>
</p:column>
</p:row>

		

			</p:panelGrid>
			<p:commandButton value="Aceptar"
				actionListener="#{BeanProducto.agregarProducto()}" update="@form"
				styleClass="btn btn-primary " type="submit" />
		</h:form>
	</p:dialog>
</ui:composition>
</html>