<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<p:dialog widgetVar="dialogoActualizar" id="DlgUpdate" header="Actualizar Empleado" modal="true" hideEffect="clip" showEffect="Bounce" resizable="false" responsive="true" minimizable="true" maximizable="true">
		<h:form id="eee">
			<p:messages autoUpdate="true" />
			<p:panelGrid columns="2">
			<p:outputLabel for="codigo" value="DNI:" />
			<p:inputText id="codigo" value="#{beanEmpleado.empl.tblpersona.dniPersona}"  onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" maxlength="8"  />
			<p:outputLabel for="nombre" value="Nombre:" />
			<p:inputText id="nombre" value="#{beanEmpleado.empl.tblpersona.nombre}" onkeyup="$(this).val($(this).val().replace(/[^a-zA-Z]/g,''));"  />
			<p:outputLabel for="a" value="Apellidos paterno:" />
			<p:inputText id="a" value="#{beanEmpleado.empl.tblpersona.apellidoPaterno}" onkeyup="$(this).val($(this).val().replace(/[^a-zA-Z]/g,''));" />
			<p:outputLabel for="b" value="Apellidos materno:" />
			<p:inputText id="b" value="#{beanEmpleado.empl.tblpersona.apellidoMaterno}" onkeyup="$(this).val($(this).val().replace(/[^a-zA-Z]/g,''));" />
			<p:outputLabel for="fec" value="Fecha Nacimiento:" />
			<p:calendar id="fec" value="#{beanEmpleado.empl.tblpersona.fechaNacimiento}" navigator="true" locale="es" mode="popup" showOn="button" popupIconOnly="true" pattern="dd/MM/yyyy" />
			<p:outputLabel for="c" value="Dirección:" />
			<p:inputText id="c" value="#{beanEmpleado.empl.tblpersona.tblInfoContacto.direccion}" />
			<p:outputLabel for="d" value="Email:" />
			<p:inputText id="d" value="#{beanEmpleado.empl.tblpersona.tblInfoContacto.email}" />
			<p:outputLabel for="e" value="Telefono:" />
			<p:inputText id="e" value="#{beanEmpleado.empl.tblpersona.tblInfoContacto.telefono}"  onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"  maxlength="7"/>
			<p:inputText for="f" value="Celular:" />
			<p:inputNumber id="f" value="#{beanEmpleado.empl.tblpersona.tblInfoContacto.celular}"  onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" maxlength="9" />
			<p:outputLabel for="cargoo" value="Cargo:" />
					<p:selectOneMenu id="cargoo" value="#{beanEmpleado.carg.idCargo}"  required="true" requiredMessage="Debe seleccionar un cargo">
							<f:selectItem itemLabel="Seleccione una categoria" itemValue="" />
							<f:selectItems value="#{beanEmpleado.listaTcargo}" var="ca" itemValue="#{ca.idCargo}" itemLabel="#{ca.descripcion}"  />
						</p:selectOneMenu>
		</p:panelGrid>
			<p:commandButton value="Actualizar Empleado" actionListener="#{beanEmpleado.actualizar()}" icon="ui-icon-disk" update=":emmp:tablaEmp,@form"  class="btn btn-primary" />
		</h:form>
	</p:dialog>
</ui:composition>
</html>