<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<p:dialog widgetVar="rprod" id="reprod" header="Registrar Empleado" modal="true" hideEffect="clip" showEffect="Bounce" resizable="false" responsive="true" minimizable="true" maximizable="true">
				
		<h:form id="regis">
<p:messages id="dlgreg" />
		<p:panelGrid columns="2">
			<p:outputLabel for="codigo" value="DNI:" />
			<p:inputText onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" id="codigo" value="#{beanEmpleado.pers.dniPersona}"  maxlength="8" />
			<p:outputLabel for="nombre" value="Nombre:" />
			<p:inputText id="nombre" value="#{beanEmpleado.pers.nombre}" onkeyup="$(this).val($(this).val().replace(/[^a-zA-Z]/g,''));"/>
			<p:outputLabel for="a" value="Apellidos paterno:" />
			<p:inputText id="a" value="#{beanEmpleado.pers.apellidoPaterno}" onkeyup="$(this).val($(this).val().replace(/[^a-zA-Z]/g,''));"/>
			<p:outputLabel for="b" value="Apellidos materno:" />
			<p:inputText id="b" value="#{beanEmpleado.pers.apellidoMaterno}" onkeyup="$(this).val($(this).val().replace(/[^a-zA-Z]/g,''));" />
			<p:outputLabel for="fec" value="Fecha Nacimiento:" />
			<p:calendar id="fec" value="#{beanEmpleado.pers.fechaNacimiento}" navigator="true" locale="es" mode="popup" showOn="button" popupIconOnly="true" pattern="dd/MM/yyyy" mindate="#{beanEmpleado.getMaxAge()}" maxdate="#{beanEmpleado.getMinAge()}"/>
			<p:outputLabel for="c" value="Dirección:" />
			<p:inputText id="c" value="#{beanEmpleado.inf.direccion}" />
			<p:outputLabel for="d" value="Email:" />
			<p:inputText id="d" value="#{beanEmpleado.inf.email}" />
			<p:outputLabel for="e" value="Telefono:" />
			<p:inputText id="e" value="#{beanEmpleado.inf.telefono}"   maxlength="7"   onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"  />
			<p:outputLabel for="f" value="Celular:" />
			<p:inputText id="f" value="#{beanEmpleado.inf.celular}" maxlength="9"   onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" />
			<p:outputLabel for="fecha" value="Fecha Contrato:" />
			<p:calendar id="fecha" value="#{beanEmpleado.empl.fechaContrato}" mode="popup" showOn="button" popupIconOnly="true" pattern="dd/MM/yyyy" />
			<p:outputLabel for="Codigocategoria" value="Cargo:" />

			
							<p:selectOneMenu id="Codigocategoria" value="#{beanEmpleado.carg.idCargo}"  required="true" requiredMessage="Debe seleccionarun cargo">
							<f:selectItem itemLabel="Seleccione una categoria" itemValue="" />
							<f:selectItems value="#{beanEmpleado.listaTcargo}" var="ca" itemValue="#{ca.idCargo}" itemLabel="#{ca.descripcion}"  />
						</p:selectOneMenu>
			
			</p:panelGrid>
			<p:commandButton value="Registrar" actionListener="#{beanEmpleado.Registrar()}" update="@form"  styleClass="btn btn-primary" />
		
		</h:form>
	</p:dialog>
</ui:composition>
</html>